<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0/papaparse.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body class="bg-[#f8f8f8]">
    {% extends "nav.html" %} {% block content %}
    <!-- top bar -->
    <div class="mx-8 my-4 flex justify-between">
        <p class="text-4xl font-light">Dashboard</p>
        <div class="flex items-center gap-4">
            <p class="text-2xl">Crime Type</p>
            <select class="py-3 px-5 bg-white border border-black" id="crime_type">
            </select>
        </div>
    </div>

    <!-- cards -->
    <div id="cards">
        <div id="hotspot" class="flex flex-col overflow-hidden">
            <div class="flex justify-between">
                <h2 class="text-[#5C8DD6] text-2xl font-bold">Analyse Hotspots</h2>
                <a href="/hotspot_mapping" class="text-xl hover:text-[#5C8DD6] flex items-end gap-3">
                    <span class="underline">See Predictions</span>
                    <span class="material-symbols-rounded text-4xl">
                        arrow_right_alt
                    </span>
                </a>
            </div>
            <p class="text-black/60">Visualising crime pattern through time</p>
            <div class="my-4 flex w-full items-end  gap-6">
                <div class="w-5/12">
                    <h3 class="font-bold text-[#5C8DD6]">Time range</h3>
                    <select id="time_range" class="py-3 px-3 bg-white border w-full border-black">
                        <option value="three_months">Last 3 Months</option>
                        <option value="six_months">Last 6 Months</option>
                        <option value="one_year">Last 1 year</option>
                        <option value="one_month">Last Month</option>
                    </select>
                </div>
                <button id="gobutton"
                    class="flex h-12 px-8 rounded-md font-bold text-white items-center bg-[#5C8DD6] hover:bg-[#619BF3]">
                    <h3>GO</h3>
                </button>
            </div>
            <div id="map" class="grow"></div>
        </div>
        <div id="highriskvictims" class="overflow-scroll">
            <div class="flex justify-between">
                <h2 class="text-[#5C8DD6] text-2xl font-bold">High Risk Victims</h2>
                <a href="/victim_analysis" class="text-xl hover:text-[#5C8DD6] flex items-end gap-3">
                    <span class="underline">See full analysis</span>
                    <span class="material-symbols-rounded text-4xl">
                        arrow_right_alt
                    </span>
                </a>
            </div>
            <p class="text-black/60">Group or people at the utmost risk</p>
            <div class="flex items-center  gap-4 w-full justify-between">
                <p class="text-2xl">Select District</p>
                <select class="py-3 px-5 bg-white border border-black" id="district">
                </select>
            </div>
            <div class="flex flex-col">
                <canvas id="casteGraph"></canvas>
                <canvas id="professionGraph"></canvas>
                <canvas id="sexGraph"></canvas>
                <canvas id="ageGraph"></canvas>
            </div>
        </div>
        <div id="repeatoffenders" class="overflow-hidden">
            <h2 class="text-[#5C8DD6] text-2xl font-bold">Most Probable Future Offenders</h2>
            <p class="text-black/60">High risk offenders with the highest probability of reoffending</p>
            <a href="/repeat_offenders">
                <div class="flex items-center gap-3">
                    <img src="/static/images/offender_profile1.png" alt="">
                    <img src="/static/images/offender_profile2.png" alt="">
                    <img src="/static/images/offender_profile2.png" alt="">
                </div>
            </a>
        </div>
        <div id="suspectedperpetrators" class="overflow-scroll">
            <div class="flex justify-between">
                <h2 class="text-[#5C8DD6] text-2xl font-bold">Live News Criminal Data</h2>
                <a href="/live_data" class="text-xl hover:text-[#5C8DD6] flex items-end gap-3">
                    <span class="underline">See full data</span>
                    <span class="material-symbols-rounded text-4xl">
                        arrow_right_alt
                    </span>
                </a>
            </div>
            <p class="text-black/60">Live information extraction from news articles</p>
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Criminal_name</th>
                        <th>Reported Date</th>
                        <th>Reported Time</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>murder</td>
                        <td>Hemanth kumar nath</td>
                        <td>25 May, 2021</td>
                        <td>3:15</td>
                        <td>Banglore</td>
                    </tr>
                    <tr>
                        <td>murder</td>
                        <td>Hoti lal</td>
                        <td>17 May, 2021</td>
                        <td>10:45</td>
                        <td>Mysore</td>
                    </tr>
                    <tr>
                        <td>Theft</td>
                        <td>Rajesh Sharma</td>
                        <td>10 April, 2021</td>
                        <td>14:30</td>
                        <td>Shivanasamudra</td>
                    </tr>
                    <tr>
                        <td>Assault</td>
                        <td>Veena Singh</td>
                        <td>5 March, 2021</td>
                        <td>9:00</td>
                        <td>Bidar</td>
                    </tr>
                    <tr>
                        <td>Robbery</td>
                        <td>Amit Patel</td>
                        <td>20 February, 2021</td>
                        <td>18:15</td>
                        <td>Kundapura</td>
                    </tr>
                    <tr>
                        <td>Fraud</td>
                        <td>Priya Gupta</td>
                        <td>15 January, 2021</td>
                        <td>11:20</td>
                        <td>Dharmasthala</td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>

</body>

<style>
    body {
        font-family: DM Sans, sans-serif;
    }

    #cards {
        margin: 2rem;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        height: calc(100vh - 12rem - 20px);
    }

    #repeatoffenders,
    #suspectedperpetrators,
    #highriskvictims,
    #hotspot {
        padding: 10px;
        background-color: white;
        transition: all 0.3s ease-out;
    }

    #repeatoffenders:hover,
    #suspectedperpetrators:hover,
    #highriskvictims:hover,
    #hotspot:hover {
        -webkit-box-shadow: 7px 10px 42px 0px rgba(0, 0, 0, 0.31);
        -moz-box-shadow: 7px 10px 42px 0px rgba(0, 0, 0, 0.31);
        box-shadow: 7px 10px 42px 0px rgba(0, 0, 0, 0.31);
    }

    #repeatoffenders {
        grid-area: 3 / 2 / 4 / 4;
    }

    #suspectedperpetrators {
        grid-area: 1 / 3 / 3 / 4;
    }

    #highriskvictims {
        grid-area: 1 / 2 / 3 / 3;
    }

    #hotspot {
        grid-area: 1 / 1 / 4 / 2;
    }

    table {
        border-collapse: collapse;
        width: 90%;
        /* Reduce table width */
        max-width: 800px;
        /* Limit maximum width */
        background-color: #ffffff;
        /* White background for table */
        border-radius: 8px;
        /* Add some border radius */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        /* Add a subtle shadow */
        margin: 20px auto;
        /* Center table horizontally */
    }

    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 6px;
        /* Increase cell padding for better spacing */
    }

    th {
        background-color: #f2f2f2;
        font-weight: bold;
        /* Make header text bold */
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
        /* Alternate row background color */
    }

    tr:hover {
        background-color: #f0f0f0;
        /* Hover row background color */
    }
</style>

</html>

<script>
    var map = L.map('map', {
        center: [15.18, 77.23], // Initial map center
        zoom: 6, // Initial zoom level
        zoomControl: false, // Remove default zoom control
        attributionControl: false, // Instead of default attribution, we add custom at the bottom of script
        scrollWheelZoom: true, // Enable scroll wheel zoom
        dragging: true // Enable click and drag camera movement
    });

    L.control.zoom({
        position: 'bottomright'
    }).addTo(map);

    L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager_labels_under/{z}/{x}/{y}{r}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: 16
    }).addTo(map);

    // adding crime hotspots
    var KARNATAKA_POLICE_ACT_1963 = L.heatLayer([], { radius: 25, gradient: { 0.4: 'blue', 0.65: 'lime', 1: 'red' } });
    var THEFT = L.heatLayer([], { radius: 25, gradient: { 0.4: 'green', 0.65: 'yellow', 1: 'red' } });
    var CRPC = L.heatLayer([], { radius: 25, gradient: { 0.4: 'purple', 0.65: 'pink', 1: 'red' } });
    var CHEATING = L.heatLayer([], { radius: 25, gradient: { 0.4: 'cyan', 0.65: 'magenta', 1: 'red' } });
    var KARNATAKA_STATE_LOCAL_ACT = L.heatLayer([], { radius: 25, gradient: { 0.4: 'orange', 0.65: 'yellow', 1: 'red' } });
    var MOLESTATION = L.heatLayer([], { radius: 25, gradient: { 0.4: 'blue', 0.65: 'green', 1: 'red' } });
    var MISSING_PERSON = L.heatLayer([], { radius: 25, gradient: { 0.4: 'purple', 0.65: 'cyan', 1: 'red' } });
    var RIOTS = L.heatLayer([], { radius: 25, gradient: { 0.4: 'green', 0.65: 'blue', 1: 'red' } });
    var CASES_OF_HURT = L.heatLayer([], { radius: 25, gradient: { 0.4: 'cyan', 0.65: 'purple', 1: 'red' } });
    var BURGLARY_NIGHT = L.heatLayer([], { radius: 25, gradient: { 0.4: 'yellow', 0.65: 'orange', 1: 'red' } });
    var CRUELTY_BY_HUSBAND = L.heatLayer([], { radius: 25, gradient: { 0.4: 'pink', 0.65: 'blue', 1: 'red' } });
    var ATTEMPT_TO_MURDER = L.heatLayer([], { radius: 25, gradient: { 0.4: 'orange', 0.65: 'green', 1: 'red' } });
    var POCSO = L.heatLayer([], { radius: 25, gradient: { 0.4: 'blue', 0.65: 'pink', 1: 'red' } });
    var PUBLIC_SAFETY = L.heatLayer([], { radius: 25, gradient: { 0.4: 'green', 0.65: 'cyan', 1: 'red' } });
    var NARCOTIC_DRUGS_PSHYCOTROPIC_SUBSTANCES = L.heatLayer([], { radius: 25, gradient: { 0.4: 'purple', 0.65: 'orange', 1: 'red' } });
    var ROBBERY = L.heatLayer([], { radius: 25, gradient: { 0.4: 'cyan', 0.65: 'green', 1: 'red' } });
    var CYBER_CRIME = L.heatLayer([], { radius: 25, gradient: { 0.4: 'yellow', 0.65: 'blue', 1: 'red' } });
    var NEGLIGENT_ACT = L.heatLayer([], { radius: 25, gradient: { 0.4: 'pink', 0.65: 'yellow', 1: 'red' } });


    var overlayMaps = {
        "KPA1963": KARNATAKA_POLICE_ACT_1963,
        "Theft": THEFT,
        "CrPC": CRPC,
        "Cheating": CHEATING,
        "Local State Act": KARNATAKA_STATE_LOCAL_ACT,
        "Molestation": MOLESTATION,
        "Missing Person": MISSING_PERSON,
        "Riots": RIOTS,
        "Cases of hurt": CASES_OF_HURT,
        'Burglary (Night)': BURGLARY_NIGHT,
        'Cruelty by Husband': CRUELTY_BY_HUSBAND,
        'Attempt to Murder': ATTEMPT_TO_MURDER,
        'POCSO': POCSO,
        'Public Safety': PUBLIC_SAFETY,
        'Drug Abuse': NARCOTIC_DRUGS_PSHYCOTROPIC_SUBSTANCES,
        'Robbery': ROBBERY,
        'Cyber Crime': CYBER_CRIME,
        'Negligent Act': NEGLIGENT_ACT
    };

    var selectOptions = document.getElementById('crime_type');

    for (var key in overlayMaps) {
        var option = document.createElement('option');
        option.value = key;
        option.textContent = key;
        selectOptions.appendChild(option);
    }
    var currentLayer = []

    document.getElementById('gobutton').addEventListener('click', function () {
        var filePaths = [];

        time_range = document.getElementById("time_range").value
        crime_type = document.getElementById("crime_type").value
        var startMonth, startYear;

        if (time_range == 'one_month') {
            var startMonth = new Date().getMonth() - 1;
            var startYear = new Date().getFullYear();
        } else if (time_range == 'three_months') {
            var startMonth = new Date().getMonth() - 2;
            if (startMonth <= 0) {
                var startYear = parseInt(--startYear);
                var startMonth = 12 - parseInt(startMonth);
            }
            var startYear = new Date().getFullYear();
        } else if (time_range == 'six_months') {
            var startMonth = new Date().getMonth() - 5;
            if (startMonth <= 0) {
                var startYear = parseInt(--startYear);
                var startMonth = 12 - parseInt(startMonth);
            }
            var startYear = new Date().getFullYear();
        } else if (time_range == 'one_year') {
            var startMonth = new Date().getMonth() - 11;
            if (startMonth <= 0) {
                var startYear = parseInt(--startYear);
                var startMonth = 12 - parseInt(startMonth);
            }
            var startYear = new Date().getFullYear();
        }

        var endYear = new Date().getFullYear();
        var endMonth = new Date().getMonth() + 1;

        for (var year = startYear; year <= endYear; year++) {
            filePaths.push(year + '_Data.csv');
        }
        if (currentLayer) {
            map.removeLayer(currentLayer);
        }
        filePaths.forEach(function (filePath) {
            Papa.parse('/static/data/' + filePath, {
                header: true,
                download: true,
                dynamicTyping: true,
                complete: function (results) {
                    results.data.forEach(function (d) {
                        var lat = d.Latitude;
                        var lng = d.Longitude;
                        var type = d.CrimeGroup_Name;
                        var year = parseInt(d.Year);
                        var month = parseInt(d.Month);
                        // Check if the row falls within the specified date range
                        if ((year > startYear || (year == startYear && month >= startMonth)) &&
                            (year < endYear || (year == endYear && month <= endMonth))) {
                            // Process the row based on crime type
                            switch (type) {
                                case "KARNATAKA POLICE ACT 1963":
                                    KARNATAKA_POLICE_ACT_1963.addLatLng([lat, lng]);
                                    break;
                                case "THEFT":
                                    THEFT.addLatLng([lat, lng]);
                                    break;
                                case "CrPC":
                                    CRPC.addLatLng([lat, lng]);
                                    break;
                                case "CHEATING":
                                    CHEATING.addLatLng([lat, lng]);
                                    break;
                                case "Karnataka State Local Act":
                                    KARNATAKA_STATE_LOCAL_ACT.addLatLng([lat, lng]);
                                    break;
                                case "MOLESTATION":
                                    MOLESTATION.addLatLng([lat, lng]);
                                    break;
                                case "MISSING PERSON":
                                    MISSING_PERSON.addLatLng([lat, lng]);
                                    break;
                                case "RIOTS":
                                    RIOTS.addLatLng([lat, lng]);
                                    break;
                                case "CASES OF HURT":
                                    CASES_OF_HURT.addLatLng([lat, lng]);
                                    break;
                                case "BURGLARY - NIGHT":
                                    BURGLARY_NIGHT.addLatLng([lat, lng]);
                                    break;
                                case "CRUELTY BY HUSBAND":
                                    CRUELTY_BY_HUSBAND.addLatLng([lat, lng]);
                                    break;
                                case "ATTEMPT TO MURDER":
                                    ATTEMPT_TO_MURDER.addLatLng([lat, lng]);
                                    break;
                                case "POCSO":
                                    POCSO.addLatLng([lat, lng]);
                                    break;
                                case "PUBLIC SAFETY":
                                    PUBLIC_SAFETY.addLatLng([lat, lng]);
                                    break;
                                case "NARCOTIC DRUGS & PSHYCOTROPIC SUBSTANCES":
                                    NARCOTIC_DRUGS_PSHYCOTROPIC_SUBSTANCES.addLatLng([lat, lng]);
                                    break;
                                case "ROBBERY":
                                    ROBBERY.addLatLng([lat, lng]);
                                    break;
                                case "CYBER CRIME":
                                    CYBER_CRIME.addLatLng([lat, lng]);
                                    break;
                                case "NEGLIGENT ACT":
                                    NEGLIGENT_ACT.addLatLng([lat, lng]);
                                    break;
                                default:
                                    break;
                            }
                        }
                    });
                }
            });
        });
        //add layers to map
        currentLayer = overlayMaps[crime_type].addTo(map);
    });

    fetch('{{ json_file }}')
        .then(response => response.json())
        .then(data => {
            // Get the select element
            var selectElement = document.getElementById('district');

            // Loop through the keys of the JSON object and create an option for each key
            Object.keys(data).forEach(key => {
                var option = document.createElement('option');
                option.text = key;
                option.value = key;
                selectElement.appendChild(option);
            });

            // Function to plot graphs
            function plotGraphs(selectedDistrict) {

                // Destroy existing charts if they exist
                if (window.casteChart) {
                    window.casteChart.destroy();
                }
                if (window.sexChart) {
                    window.sexChart.destroy();
                }
                if (window.professionChart) {
                    window.professionChart.destroy();
                }
                if (window.ageChart) {
                    window.ageChart.destroy();
                }

                var districtData = data[selectedDistrict];

                // Plot graph for caste
                var casteData = districtData['Caste'];
                var casteLabels = Object.keys(casteData);
                var casteValues = Object.values(casteData);
                window.casteChart = new Chart(document.getElementById('casteGraph'), {
                    type: 'bar',
                    data: {
                        labels: casteLabels,
                        datasets: [{
                            label: 'Caste Distribution',
                            data: casteValues,
                            backgroundColor: 'rgba(54, 162, 235, 0.6)',
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: false
                                }
                            }]
                        }
                    }
                });

                // Plot graph for sex
                var sexData = districtData['Sex'];
                var sexLabels = Object.keys(sexData);
                var sexValues = Object.values(sexData);
                window.sexChart = new Chart(document.getElementById('sexGraph'), {
                    type: 'pie',
                    data: {
                        labels: sexLabels,
                        datasets: [{
                            data: sexValues,
                            backgroundColor: ['rgb(161, 173, 247)', 'rgb(221, 162, 248)', 'rgba(255, 206, 86, 0.6)'],
                            beginAtZero: true
                        }]
                    },
                    options: {
                        responsive: false,
                    }
                });

                // Plot graph for profession
                var professionData = districtData['Profession'];
                var professionLabels = Object.keys(professionData);
                var professionValues = Object.values(professionData);
                window.professionChart = new Chart(document.getElementById('professionGraph'), {
                    type: 'bar',
                    data: {
                        labels: professionLabels,
                        datasets: [{
                            label: 'Profession Distribution',
                            data: professionValues,
                            backgroundColor: 'rgba(75, 192, 192, 0.6)'
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            xAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

                // Plot graph for age
                var ageData = districtData['Age'];
                var ageLabels = Object.keys(ageData);
                var ageValues = Object.values(ageData);
                window.ageChart = new Chart(document.getElementById('ageGraph'), {
                    type: 'bar',
                    data: {
                        labels: ageLabels,
                        datasets: [{
                            label: 'Age Distribution',
                            data: ageValues,
                            borderColor: 'rgba(216, 162, 255, 0.6)',
                            backgroundColor: 'rgba(216, 162, 255, 0.6)',
                            fill: false
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }

            // Event listener for dropdown change
            selectElement.addEventListener('change', function () {
                var selectedDistrict = this.value;
                plotGraphs(selectedDistrict);
            });

            // Initial plot on page load
            plotGraphs(selectElement.value);
        })
        .catch(error => console.error('Error:', error));

</script>

{% endblock %}