<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap"
    rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" href="favicon.svg" type="image/svg+xml">
  <title>SaferHood - Sign Up</title>
</head>

<body class="flex items-center justify-center h-screen bg-gray-100" style="font-family: 'DM Sans', sans-serif;">
  <div class="flex gap-6 absolute top-0 right-0 mt-6 mr-6 align-center items-center">
    <img class="h-16"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Emblem_of_India.svg/1200px-Emblem_of_India.svg.png"
      alt="">
    <div class="h-full w-2 bg-black"></div>
    <div class="flex items-center">
      <img class="h-16"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Seal_of_Karnataka.svg/250px-Seal_of_Karnataka.svg.png"
        alt="">
      <div class="ml-4">
        <p class="text-xl font-bold">Karnataka State Police</p>
        <p class="text-sm">Government of Karnataka</p>
      </div>
    </div>
  </div>
  <div class="bg-white p-8 rounded-md flex items-center flex-col w-1/4"
    style="box-shadow: 0px 190px 53px 0px rgba(0, 0, 0, 0.00), 0px 121px 49px 0px rgba(0, 0, 0, 0.01), 0px 68px 41px 0px rgba(0, 0, 0, 0.03), 0px 30px 30px 0px rgba(0, 0, 0, 0.04), 0px 8px 17px 0px rgba(0, 0, 0, 0.05);">
    <img src="/static/images/logo.svg" class="mb-10 w-64" alt="">
    <h2 class="text-2xl mx-auto font-bold mb-4">Welcome back, Officer</h2>
    <form class="w-full">
      <div class="mb-4">
        <label for="id" class="block text-gray-700 text-sm font-bold mb-2">Police ID</label>
        <input type="number" id="id" name="id"
          class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-2 focus:border-blue-500"
          placeholder="Enter officer ID" required>
      </div>
      <div class="mb-4">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
        <input type="password" id="password" name="password"
          class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-2 focus:border-blue-500"
          placeholder="Enter Password" required>
      </div>
      <button type="submit"
        class="bg-cyan-800 hover:bg-cyan-900 w-full mt-4 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Login
      </button>
    </form>
  </div>
</body>

<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
</style>

</html>