<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap"
    rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" href="/static/images/icon.svg" type="image/svg+xml" />
  <title>SaferHood - Log in</title>
</head>

<body class="flex flex-col items-center justify-center h-screen bg-gray-100" style="font-family: 'DM Sans', sans-serif">
  <div class="flex gap-6 absolute top-0 right-0 mt-6 mr-6 align-center items-center">
    <img class="h-16" src="/static/images/govtindia.png" alt="" />
    <div class="h-full w-2 bg-black"></div>
    <div class="flex items-center">
      <img class="h-16" src="/static/images/kp.png" alt="" />
      <div class="ml-4">
        <p class="text-xl font-bold">Karnataka State Police</p>
        <p class="text-sm">Government of Karnataka</p>
      </div>
    </div>
  </div>
  <div class="bg-white p-8 rounded-md flex items-center flex-col w-1/4" style="
        box-shadow: 0px 190px 53px 0px rgba(0, 0, 0, 0),
          0px 121px 49px 0px rgba(0, 0, 0, 0.01),
          0px 68px 41px 0px rgba(0, 0, 0, 0.03),
          0px 30px 30px 0px rgba(0, 0, 0, 0.04),
          0px 8px 17px 0px rgba(0, 0, 0, 0.05);
      ">
    <img src="/static/images/logo.svg" alt="">
    <h2 class="text-2xl mx-auto font-bold mb-4 mt-8">Login</h2>
    <form class="w-full">
      <div class="mb-4">
        <label for="id" class="block text-gray-700 text-sm font-bold mb-2">Police ID</label>
        <input type="number" id="id" name="id"
          class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500"
          placeholder="Enter officer ID" required />
      </div>
      <div class="mb-4">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
        <input type="password" id="password" name="password"
          class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500"
          placeholder="Enter Password" required />
      </div>
      <div class="flex justify-between items-center">
        <a href="/home" class="px-6 py-2 bg-cyan-800 text-white font-semibold rounded-md hover:bg-cyan-600">
          Login
        </a>
        <a href="/register" class="text-cyan-700 font-bold">Register</a>
      </div>
    </form>
  </div>
  <div class="w-96 text-center mt-20 bg-lime-300/50 px-8 py-4 rounded-md font-bold">
    <p>Since this is a demo website, use <br> ID: <span class="font-mono bg-white">1234</span> <br> password: <span class="font-mono bg-white">admin</span> <br> to log in</p>
  </div>
</body>
<style>
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
</style>

</html>

