{% extends "nav.html" %} {% block content %}
<div
  style="
    width: 95px;
    height: 926px;
    left: 0px;
    top: 34px;
    position: absolute;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  "
>
  <div
    style="
      width: 40px;
      height: 33.16px;
      left: 28px;
      top: 20px;
      position: absolute;
    "
  >
    <div
      style="
        width: 40px;
        height: 33.16px;
        left: 0px;
        top: 0px;
        position: absolute;
      "
    ></div>
    <img
      style="
        width: 26.67px;
        height: 16.58px;
        left: 6.67px;
        top: 8.29px;
        position: absolute;
      "
      src="https://via.placeholder.com/27x17"
    />
  </div>
  <div
    style="
      width: 55px;
      height: 0px;
      left: 20px;
      top: 73.78px;
      position: absolute;
      border: 0.6px rgba(0, 0, 0, 0.18) solid;
    "
  ></div>
  <div
    style="
      width: 38px;
      height: 699px;
      left: 29px;
      top: 149px;
      position: absolute;
    "
  >
    <div
      style="
        width: 95px;
        left: 0px;
        top: 95px;
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: 0 0;
        text-align: center;
        color: #6c6c6c;
        font-size: 20px;
        font-family: Gotham;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Hotspot Mapping
    </div>
    <div
      style="
        width: 120px;
        left: 0px;
        top: 279px;
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: 0 0;
        text-align: center;
        color: #6c6c6c;
        font-size: 20px;
        font-family: Gotham;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Victim<br />Prediction
    </div>
    <div
      style="
        width: 143px;
        left: 0px;
        top: 486px;
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: 0 0;
        text-align: center;
        color: #6c6c6c;
        font-size: 20px;
        font-family: Gotham;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Suspected<br />Perpetrators
    </div>
    <div
      style="
        width: 149px;
        left: 0px;
        top: 699px;
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: 0 0;
        text-align: center;
        color: #6c6c6c;
        font-size: 20px;
        font-family: Gotham;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Most Probable Offenders
    </div>
    <div
      style="
        width: 38px;
        height: 0px;
        left: 0px;
        top: 128px;
        position: absolute;
        border: 0.6px rgba(0, 0, 0, 0.5) solid;
      "
    ></div>
    <div
      style="
        width: 38px;
        height: 0px;
        left: 0px;
        top: 308px;
        position: absolute;
        border: 0.6px rgba(0, 0, 0, 0.5) solid;
      "
    ></div>
    <div
      style="
        width: 38px;
        height: 0px;
        left: 0px;
        top: 512px;
        position: absolute;
        border: 0.6px rgba(0, 0, 0, 0.5) solid;
      "
    ></div>
  </div>
</div>
<div
  style="width: 168px; height: 33px; left: 131px; top: 34px; position: absolute"
></div>
<img
  style="width: 66px; height: 57px; left: 1387px; top: 23px; position: absolute"
  src="https://via.placeholder.com/66x57"
/>
<div
  style="
    left: 1468px;
    top: 28px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: DM Sans;
    font-weight: 400;
    word-wrap: break-word;
  "
>
  Karnataka State Police
</div>
<div
  style="
    left: 1468px;
    top: 59px;
    position: absolute;
    color: rgba(0, 0, 0, 0.63);
    font-size: 13px;
    font-family: DM Sans;
    font-weight: 400;
    word-wrap: break-word;
  "
>
  Government of Karnataka
</div>
<img
  style="
    width: 32px;
    height: 48.39px;
    left: 1293px;
    top: 28px;
    position: absolute;
  "
  src="https://via.placeholder.com/32x48"
/>
<div
  style="
    width: 39px;
    height: 0px;
    left: 1359px;
    top: 34px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 0.4px rgba(0, 0, 0, 0.39) solid;
  "
></div>
<div
  style="
    left: 318px;
    top: 56px;
    position: absolute;
    color: #2b2b2b;
    font-size: 15px;
    font-family: DM Sans;
    font-weight: 400;
    word-wrap: break-word;
  "
>
  Building a Safer Neighborhood
</div>
<div
  style="
    left: 131px;
    top: 121px;
    position: absolute;
    text-align: center;
    color: #5c8dd6;
    font-size: 32px;
    font-family: Gotham;
    font-weight: 700;
    word-wrap: break-word;
  "
>
  Register Crime
</div>
<div
  style="
    left: 131px;
    top: 178px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 24px;
    font-family: Gotham;
    font-weight: 300;
    word-wrap: break-word;
  "
>
  Victim Details
</div>
<div
  style="
    left: 672px;
    top: 178px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 24px;
    font-family: Gotham;
    font-weight: 300;
    word-wrap: break-word;
  "
>
  Offender Information
</div>
<div
  style="
    width: 313px;
    height: 0px;
    left: 328px;
    top: 190px;
    position: absolute;
    border: 1px rgba(0, 0, 0, 0.5) solid;
  "
></div>
<div
  style="
    width: 239px;
    height: 0px;
    left: 943px;
    top: 190px;
    position: absolute;
    border: 1px rgba(0, 0, 0, 0.5) solid;
  "
></div>
<div
  style="
    width: 510px;
    height: 446px;
    left: 131px;
    top: 222px;
    position: absolute;
    background: #f2f2f2;
  "
>
  <div
    style="
      left: 18px;
      top: 9px;
      position: absolute;
      text-align: center;
      color: #4f4f4f;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Personal Information
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 18px;
      top: 204px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 10px;
        top: 9px;
        position: absolute;
        text-align: center;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Age
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 262px;
      top: 204px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Gender
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 18px;
      top: 251px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Religion
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 18px;
      top: 298px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Home Town
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 18px;
      top: 345px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Permanent Address
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 262px;
      top: 345px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Yearly Income
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 18px;
      top: 392px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Mobile Number
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 262px;
      top: 392px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Email ID
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 262px;
      top: 298px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Current Address
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 262px;
      top: 251px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Caste
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 18px;
      top: 157px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 10px;
        top: 9px;
        position: absolute;
        text-align: center;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      FirstName
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 262px;
      top: 157px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        text-align: center;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      LastName
    </div>
  </div>
  <div
    style="
      width: 111px;
      height: 111px;
      left: 199px;
      top: 34px;
      position: absolute;
      background: #d9d9d9;
      border-radius: 9999px;
    "
  ></div>
  <div
    style="
      left: 228px;
      top: 104px;
      position: absolute;
      text-align: center;
      color: #2b2b2b;
      font-size: 12px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Add Photo
  </div>
  <div
    style="
      width: 37px;
      height: 37px;
      left: 237px;
      top: 60px;
      position: absolute;
    "
  >
    <div
      style="
        width: 37px;
        height: 37px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #d9d9d9;
      "
    ></div>
    <div
      style="
        width: 30.83px;
        height: 27.75px;
        left: 3.08px;
        top: 3.08px;
        position: absolute;
        background: #2b2b2b;
      "
    ></div>
  </div>
</div>
<div
  style="
    width: 510px;
    height: 446px;
    left: 672px;
    top: 222px;
    position: absolute;
    background: #f2f2f2;
  "
>
  <div
    style="
      left: 18px;
      top: 9px;
      position: absolute;
      text-align: center;
      color: #4f4f4f;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Personal Information
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 18px;
      top: 204px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 10px;
        top: 9px;
        position: absolute;
        text-align: center;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Age
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 262px;
      top: 204px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Gender
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 18px;
      top: 251px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Religion
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 18px;
      top: 298px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Home Town
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 18px;
      top: 345px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Permanent Address
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 262px;
      top: 345px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Yearly Income
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 18px;
      top: 392px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Mobile Number
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 262px;
      top: 392px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Email ID
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 262px;
      top: 298px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Current Address
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 262px;
      top: 251px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Caste
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 18px;
      top: 157px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 10px;
        top: 9px;
        position: absolute;
        text-align: center;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      FirstName
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 262px;
      top: 157px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        text-align: center;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      LastName
    </div>
  </div>
  <div
    style="
      width: 111px;
      height: 111px;
      left: 199px;
      top: 34px;
      position: absolute;
      background: #d9d9d9;
      border-radius: 9999px;
    "
  ></div>
  <div
    style="
      left: 228px;
      top: 104px;
      position: absolute;
      text-align: center;
      color: #2b2b2b;
      font-size: 12px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Add Photo
  </div>
  <div
    style="
      width: 37px;
      height: 37px;
      left: 236px;
      top: 58px;
      position: absolute;
    "
  >
    <div
      style="
        width: 37px;
        height: 37px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #d9d9d9;
      "
    ></div>
    <div
      style="
        width: 30.83px;
        height: 27.75px;
        left: 3.08px;
        top: 3.08px;
        position: absolute;
        background: #2b2b2b;
      "
    ></div>
  </div>
</div>
<div
  style="
    width: 509px;
    height: 396px;
    left: 1198px;
    top: 222px;
    position: absolute;
    background: #f2f2f2;
  "
>
  <div
    style="
      left: 18px;
      top: 9px;
      position: absolute;
      text-align: center;
      color: #4f4f4f;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Crime Details
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 18px;
      top: 204px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        text-align: center;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Weapons Used
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 261px;
      top: 204px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Number of injuries
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 18px;
      top: 251px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Number of deaths
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 18px;
      top: 298px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      City
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 18px;
      top: 345px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Exact Address
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 261px;
      top: 345px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Solved?
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 261px;
      top: 298px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      State
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 261px;
      top: 251px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Damage in property
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 18px;
      top: 157px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        text-align: center;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Crime type
    </div>
  </div>
  <div
    style="
      width: 230px;
      height: 35px;
      left: 261px;
      top: 157px;
      position: absolute;
    "
  >
    <div
      style="
        width: 230px;
        height: 35px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        left: 11px;
        top: 9px;
        position: absolute;
        text-align: center;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Crime Severity
    </div>
  </div>
  <div
    style="
      width: 111px;
      height: 111px;
      left: 199px;
      top: 34px;
      position: absolute;
      background: #d9d9d9;
      border-radius: 9999px;
    "
  ></div>
  <div
    style="
      left: 223px;
      top: 104px;
      position: absolute;
      text-align: center;
      color: #2b2b2b;
      font-size: 12px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Add Photos
  </div>
  <div
    style="
      width: 37px;
      height: 37px;
      left: 237px;
      top: 53px;
      position: absolute;
    "
  >
    <div
      style="
        width: 37px;
        height: 37px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #d9d9d9;
      "
    ></div>
    <div
      style="
        width: 30.83px;
        height: 27.75px;
        left: 3.08px;
        top: 3.08px;
        position: absolute;
        background: #2b2b2b;
      "
    ></div>
  </div>
</div>
{% endblock %}
