<body>
  {% extends "nav.html" %} {% block content %}
  <div class="mx-8 my-5 flex justify-between">
    <h2 class="text-4xl font-light text-black/50">
      Live Data from News Articles
    </h2>
  </div>
  <table id="table">
    <!-- Table header -->
    <thead>
      <tr>
        <th>Type</th>
        <th>Criminal Name</th>
        <th>Reported Date</th>
        <th>Location</th>
      </tr>
    </thead>
    <!-- Table body for crime data -->
    <tbody id="crime-body">
      <!-- Crime data will be dynamically added here -->
    </tbody>
  </table>

</body>
<style>
  h1 {
    color: #2b2b2b;
    /* Dark text color */
    word-wrap: break-word;
    margin-top: 20px;
    /* Add some top margin */
    text-align: center;
    /* Center align heading */
    font-size: 36px;
    font-family: Gotham;
    font-weight: 300;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    /* Reduce table width */
    max-width: 800px;
    /* Limit maximum width */
    background-color: #ffffff;
    /* White background for table */
    border-radius: 8px;
    /* Add some border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    margin: 100px auto;
    /* Center table horizontally */
  }

  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
    /* Increase cell padding for better spacing */
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
    /* Make header text bold */
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Alternate row background color */
  }

  tr:hover {
    background-color: #f0f0f0;
    /* Hover row background color */
  }
</style>

<script>
  // Fetch the JSON data using the URL passed from Flask
  fetch('{{ news_file }}')
      .then(response => response.json())
      .then(data => {
        var crimeBody = document.getElementById('crime-body');
        data.forEach(crime => {
          var row = document.createElement('tr');
          row.innerHTML = `
            <td>${crime.Type}</td>
            <td>${crime.Criminal_name}</td>
            <td>${crime.Reported_date} ${crime.Reported_time}</td>
            <td>${crime.Location}</td>
          `;
          crimeBody.appendChild(row);
        });
      })
      .catch(error => console.error('Error:', error));
</script>
{% endblock %}