{% extends "nav.html" %} {% block content %}
<div
  style="
    left: 131px;
    top: 185px;
    position: absolute;
    color: #2b2b2b;
    font-size: 20px;
    font-family: DM Sans;
    font-weight: 500;
    word-wrap: break-word;
  "
>
  Crime Type
</div>
<div
  style="
    left: 439px;
    top: 185px;
    position: absolute;
    color: #2b2b2b;
    font-size: 20px;
    font-family: DM Sans;
    font-weight: 500;
    word-wrap: break-word;
  "
>
  ID
</div>
<div
  style="
    left: 627px;
    top: 185px;
    position: absolute;
    color: #2b2b2b;
    font-size: 20px;
    font-family: DM Sans;
    font-weight: 500;
    word-wrap: break-word;
  "
>
  From Date
</div>
<div
  style="
    left: 833px;
    top: 185px;
    position: absolute;
    color: #2b2b2b;
    font-size: 20px;
    font-family: DM Sans;
    font-weight: 500;
    word-wrap: break-word;
  "
>
  To Date
</div>
<div
  style="
    left: 1032px;
    top: 185px;
    position: absolute;
    color: #2b2b2b;
    font-size: 20px;
    font-family: DM Sans;
    font-weight: 500;
    word-wrap: break-word;
  "
>
  Time
</div>
<div
  style="
    left: 1236px;
    top: 185px;
    position: absolute;
    color: #2b2b2b;
    font-size: 20px;
    font-family: DM Sans;
    font-weight: 500;
    word-wrap: break-word;
  "
>
  Location
</div>
<div
  style="
    left: 131px;
    top: 117px;
    position: absolute;
    color: #2b2b2b;
    font-size: 36px;
    font-family: Gotham;
    font-weight: 300;
    word-wrap: break-word;
  "
>
  Suspected Perpetrators
</div>
<div
  style="
    width: 1542px;
    height: 66px;
    left: 131px;
    top: 207px;
    position: absolute;
    background: white;
  "
>
  <div
    style="
      left: 57px;
      top: 26px;
      position: absolute;
      color: #2b2b2b;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Burglary
  </div>
  <div
    style="
      width: 14px;
      height: 7.53px;
      left: 266px;
      top: 30px;
      position: absolute;
      background: #2b2b2b;
    "
  ></div>
  <div
    style="
      width: 14px;
      height: 7.53px;
      left: 1083px;
      top: 29px;
      position: absolute;
      background: #2b2b2b;
    "
  ></div>
  <div
    style="
      width: 66px;
      height: 0px;
      left: 308px;
      top: 0px;
      position: absolute;
      transform: rotate(90deg);
      transform-origin: 0 0;
      border: 0.6px rgba(0, 0, 0, 0.4) solid;
    "
  ></div>
  <div
    style="
      width: 66px;
      height: 0px;
      left: 496px;
      top: 0px;
      position: absolute;
      transform: rotate(90deg);
      transform-origin: 0 0;
      border: 0.6px rgba(0, 0, 0, 0.4) solid;
    "
  ></div>
  <div
    style="
      width: 66px;
      height: 0px;
      left: 702px;
      top: 0px;
      position: absolute;
      transform: rotate(90deg);
      transform-origin: 0 0;
      border: 0.6px rgba(0, 0, 0, 0.4) solid;
    "
  ></div>
  <div
    style="
      width: 66px;
      height: 0px;
      left: 901px;
      top: 0px;
      position: absolute;
      transform: rotate(90deg);
      transform-origin: 0 0;
      border: 0.6px rgba(0, 0, 0, 0.4) solid;
    "
  ></div>
  <div
    style="
      width: 66px;
      height: 0px;
      left: 1110px;
      top: 0px;
      position: absolute;
      transform: rotate(90deg);
      transform-origin: 0 0;
      border: 0.6px rgba(0, 0, 0, 0.4) solid;
    "
  ></div>
  <div
    style="
      left: 367px;
      top: 26px;
      position: absolute;
      color: #868686;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Enter ID
  </div>
  <div
    style="
      width: 36px;
      height: 36px;
      left: 319px;
      top: 15px;
      position: absolute;
    "
  >
    <div
      style="
        width: 36px;
        height: 36px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #d9d9d9;
      "
    ></div>
    <div
      style="
        width: 24px;
        height: 24px;
        left: 6px;
        top: 6px;
        position: absolute;
        background: #4f4f4f;
      "
    ></div>
  </div>
  <div
    style="width: 34px; height: 34px; left: 14px; top: 16px; position: absolute"
  >
    <div
      style="
        width: 34px;
        height: 34px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #d9d9d9;
      "
    ></div>
    <div
      style="
        width: 21.58px;
        height: 21.58px;
        left: 6.21px;
        top: 6.21px;
        position: absolute;
        background: #2b2b2b;
      "
    ></div>
  </div>
  <div
    style="
      width: 34px;
      height: 34px;
      left: 507px;
      top: 16px;
      position: absolute;
    "
  >
    <div
      style="
        width: 34px;
        height: 34px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #d9d9d9;
      "
    ></div>
    <div
      style="
        width: 22.67px;
        height: 25.83px;
        left: 5.67px;
        top: 3.92px;
        position: absolute;
        background: #2b2b2b;
      "
    ></div>
  </div>
  <div
    style="
      width: 34px;
      height: 34px;
      left: 713px;
      top: 16px;
      position: absolute;
    "
  >
    <div
      style="
        width: 34px;
        height: 34px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #d9d9d9;
      "
    ></div>
    <div
      style="
        width: 22.67px;
        height: 25.83px;
        left: 5.67px;
        top: 3.92px;
        position: absolute;
        background: #2b2b2b;
      "
    ></div>
  </div>
  <div
    style="
      left: 558px;
      top: 26px;
      position: absolute;
      color: #2b2b2b;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    16/07/23
  </div>
  <div
    style="
      left: 760px;
      top: 26px;
      position: absolute;
      color: #2b2b2b;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    26/07/23
  </div>
  <div
    style="
      width: 34px;
      height: 34px;
      left: 912px;
      top: 16px;
      position: absolute;
    "
  >
    <div
      style="
        width: 34px;
        height: 34px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #d9d9d9;
      "
    ></div>
    <div
      style="
        width: 26.92px;
        height: 26.92px;
        left: 4.25px;
        top: 4.25px;
        position: absolute;
        background: #2b2b2b;
      "
    ></div>
  </div>
  <div
    style="
      left: 959px;
      top: 26px;
      position: absolute;
      color: #2b2b2b;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Evening
  </div>
  <div
    style="
      width: 34px;
      height: 34px;
      left: 1121px;
      top: 16px;
      position: absolute;
    "
  >
    <div
      style="
        width: 34px;
        height: 34px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #d9d9d9;
      "
    ></div>
    <div
      style="
        width: 15.58px;
        height: 26.92px;
        left: 9.21px;
        top: 3.54px;
        position: absolute;
        background: #2b2b2b;
      "
    ></div>
  </div>
  <div
    style="
      left: 1165px;
      top: 26px;
      position: absolute;
      color: #2b2b2b;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Shastri Nagar, Sector 87
  </div>
  <div
    style="
      width: 94px;
      height: 66px;
      left: 1448px;
      top: 0px;
      position: absolute;
      background: #5c8dd6;
    "
  ></div>
  <div
    style="
      left: 1476px;
      top: 25px;
      position: absolute;
      color: white;
      font-size: 24px;
      font-family: DM Sans;
      font-weight: 700;
      word-wrap: break-word;
    "
  >
    GO
  </div>
</div>
<div
  style="
    width: 1542px;
    height: 65px;
    left: 131px;
    top: 301px;
    position: absolute;
    background: #5c8dd6;
  "
>
  <div
    style="
      left: 28px;
      top: 26px;
      position: absolute;
      color: white;
      font-size: 24px;
      font-family: DM Sans;
      font-weight: 700;
      word-wrap: break-word;
    "
  >
    ID
  </div>
  <div
    style="
      left: 153px;
      top: 26px;
      position: absolute;
      color: white;
      font-size: 24px;
      font-family: DM Sans;
      font-weight: 700;
      word-wrap: break-word;
    "
  >
    Description
  </div>
  <div
    style="
      left: 712px;
      top: 24px;
      position: absolute;
      color: white;
      font-size: 24px;
      font-family: DM Sans;
      font-weight: 700;
      word-wrap: break-word;
    "
  >
    Address
  </div>
  <div
    style="
      left: 1053px;
      top: 26px;
      position: absolute;
      color: white;
      font-size: 24px;
      font-family: DM Sans;
      font-weight: 700;
      word-wrap: break-word;
    "
  >
    Severity
  </div>
  <div
    style="
      left: 1373px;
      top: 26px;
      position: absolute;
      color: white;
      font-size: 24px;
      font-family: DM Sans;
      font-weight: 700;
      word-wrap: break-word;
    "
  >
    Suspects
  </div>
</div>
<div
  style="width: 53px; height: 53px; left: 558px; top: 103px; position: absolute"
>
  <div
    style="
      width: 53px;
      height: 53px;
      left: 0px;
      top: 0px;
      position: absolute;
      background: #d9d9d9;
    "
  ></div>
  <div
    style="
      width: 28.77px;
      height: 30.92px;
      left: 12.12px;
      top: 11.04px;
      position: absolute;
      background: #2b2b2b;
    "
  ></div>
</div>
<div
  style="
    width: 1542px;
    height: 163px;
    left: 131px;
    top: 366px;
    position: absolute;
    background: white;
  "
>
  <div
    style="
      left: 27px;
      top: 75px;
      position: absolute;
      color: #2b2b2b;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    3454
  </div>
  <div
    style="
      width: 455px;
      height: 46px;
      left: 154px;
      top: 59px;
      position: absolute;
      color: #2b2b2b;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Physical Assault against a female victim (age 35) using blunt force,
    resulting in minor injuries.<br />
  </div>
  <div
    style="
      width: 194px;
      height: 51px;
      left: 709px;
      top: 56px;
      position: absolute;
      color: #2b2b2b;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    123, Rosewood Lane, Bangalore
  </div>
  <div
    style="
      left: 1052px;
      top: 63px;
      position: absolute;
      color: #d4a500;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Moderate
  </div>
  <div
    style="
      left: 1279px;
      top: 39px;
      position: absolute;
      color: #2b2b2b;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      line-height: 27px;
      word-wrap: break-word;
    "
  >
    1. Rajesh Kumar<br />2. Sunita Sharma<br />3. Anil Patel
  </div>
  <div
    style="
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 4px;
      padding-bottom: 4px;
      left: 1431px;
      top: 36px;
      position: absolute;
      background: #ff6f6f;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        color: white;
        font-size: 16px;
        font-family: DM Sans;
        font-weight: 400;
        line-height: 21.6px;
        word-wrap: break-word;
      "
    >
      78%
    </div>
  </div>
  <div
    style="
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 4px;
      padding-bottom: 4px;
      left: 1446px;
      top: 72px;
      position: absolute;
      background: #ff896f;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        color: white;
        font-size: 16px;
        font-family: DM Sans;
        font-weight: 400;
        line-height: 21.6px;
        word-wrap: break-word;
      "
    >
      63%
    </div>
  </div>
  <div
    style="
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 4px;
      padding-bottom: 4px;
      left: 1401px;
      top: 108px;
      position: absolute;
      background: #ffb46f;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        color: white;
        font-size: 16px;
        font-family: DM Sans;
        font-weight: 400;
        line-height: 21.6px;
        word-wrap: break-word;
      "
    >
      59%
    </div>
  </div>
</div>
<div
  style="
    width: 1542px;
    height: 163px;
    left: 131px;
    top: 529px;
    position: absolute;
    background: white;
    border-top: 1px rgba(0, 0, 0, 0.3) solid;
  "
>
  <div
    style="
      left: 27px;
      top: 75px;
      position: absolute;
      color: #2b2b2b;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    8894
  </div>
  <div
    style="
      width: 455px;
      height: 46px;
      left: 154px;
      top: 59px;
      position: absolute;
      color: #2b2b2b;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Verbal Abuse and Threats directed at a male victim (age 40) with the use of
    a knife.<br />
  </div>
  <div
    style="
      width: 194px;
      height: 51px;
      left: 709px;
      top: 56px;
      position: absolute;
      color: #2b2b2b;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    45, Jasmine Street,<br />Mysore<br />
  </div>
  <div
    style="
      left: 1052px;
      top: 63px;
      position: absolute;
      color: #6ad400;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Low
  </div>
  <div
    style="
      left: 1279px;
      top: 39px;
      position: absolute;
      color: #2b2b2b;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      line-height: 27px;
      word-wrap: break-word;
    "
  >
    1. Meera Singh<br />2. Sanjay Gupta<br />3. Pooja Verma
  </div>
  <div
    style="
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 4px;
      padding-bottom: 4px;
      left: 1428px;
      top: 36px;
      position: absolute;
      background: #ff6f6f;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        color: white;
        font-size: 16px;
        font-family: DM Sans;
        font-weight: 400;
        line-height: 21.6px;
        word-wrap: break-word;
      "
    >
      78%
    </div>
  </div>
  <div
    style="
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 4px;
      padding-bottom: 4px;
      left: 1439px;
      top: 72px;
      position: absolute;
      background: #ff896f;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        color: white;
        font-size: 16px;
        font-family: DM Sans;
        font-weight: 400;
        line-height: 21.6px;
        word-wrap: break-word;
      "
    >
      63%
    </div>
  </div>
  <div
    style="
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 4px;
      padding-bottom: 4px;
      left: 1427px;
      top: 108px;
      position: absolute;
      background: #ffb46f;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        color: white;
        font-size: 16px;
        font-family: DM Sans;
        font-weight: 400;
        line-height: 21.6px;
        word-wrap: break-word;
      "
    >
      59%
    </div>
  </div>
</div>
<div
  style="
    width: 1542px;
    height: 163px;
    left: 131px;
    top: 692px;
    position: absolute;
    background: white;
    border-top: 1px rgba(0, 0, 0, 0.3) solid;
  "
>
  <div
    style="
      left: 27px;
      top: 75px;
      position: absolute;
      color: #2b2b2b;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    9365
  </div>
  <div
    style="
      width: 455px;
      height: 77px;
      left: 154px;
      top: 43px;
      position: absolute;
      color: #2b2b2b;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Property Damage including vandalism and destruction of household items in
    the presence of children.
  </div>
  <div
    style="
      width: 194px;
      height: 51px;
      left: 709px;
      top: 56px;
      position: absolute;
      color: #2b2b2b;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    789, Orchid Avenue, Bangalore<br />
  </div>
  <div
    style="
      left: 1052px;
      top: 63px;
      position: absolute;
      color: #d40000;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    High
  </div>
  <div
    style="
      left: 1279px;
      top: 39px;
      position: absolute;
      color: #2b2b2b;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      line-height: 27px;
      word-wrap: break-word;
    "
  >
    1. Deepak Sharma<br />2. Renuka Das<br />3. Vivek Patel
  </div>
  <div
    style="
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 4px;
      padding-bottom: 4px;
      left: 1448px;
      top: 36px;
      position: absolute;
      background: #ff6f6f;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        color: white;
        font-size: 16px;
        font-family: DM Sans;
        font-weight: 400;
        line-height: 21.6px;
        word-wrap: break-word;
      "
    >
      78%
    </div>
  </div>
  <div
    style="
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 4px;
      padding-bottom: 4px;
      left: 1415px;
      top: 72px;
      position: absolute;
      background: #ff896f;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        color: white;
        font-size: 16px;
        font-family: DM Sans;
        font-weight: 400;
        line-height: 21.6px;
        word-wrap: break-word;
      "
    >
      63%
    </div>
  </div>
  <div
    style="
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 4px;
      padding-bottom: 4px;
      left: 1410px;
      top: 108px;
      position: absolute;
      background: #ffb46f;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        color: white;
        font-size: 16px;
        font-family: DM Sans;
        font-weight: 400;
        line-height: 21.6px;
        word-wrap: break-word;
      "
    >
      59%
    </div>
  </div>
</div>
<div
  style="
    width: 405px;
    left: 1266px;
    top: 103px;
    position: absolute;
    text-align: right;
    color: #4f4f4f;
    font-size: 24px;
    font-family: DM Sans;
    font-weight: 400;
    word-wrap: break-word;
  "
>
  See the most probable offenders of unsolved crime
</div>
{% endblock %}
