<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0/papaparse.min.js"></script>

<body class="bg-[#f8f8f8]">
    {% extends "nav.html" %} {% block content %}
    <!-- top bar -->
    <div class="mx-8 my-4 flex justify-between">
        <p class="text-4xl font-light">Dashboard</p>
        <div class="flex items-center gap-4">
            <p class="text-2xl">Crime Type</p>
            <select class="py-3 px-5 bg-white border border-black" id="crime_type">
                <option value="THEFT">Theft</option>
                <option value="KPA1963">KPA1963</option>
                <option value="CRPC">CrPC</option>
                <option value="CHEATING">Cheating</option>
                <option value="KARNATAKA_STATE_LOCAL_ACT">Local State Act</option>
                <option value="MOLESTATION">Molestation</option>
                <option value="MISSING_PERSON">Missing Person</option>
                <option value="RIOTS">Riots</option>
                <option value="CASES_OF_HURT">Cases of hurt</option>
                <option value="BURGLARY_NIGHT">Burglary (Night)</option>
                <option value="CRUELTY_BY_HUSBAND">Cruelty by Husband</option>
                <option value="ATTEMPT_TO_MURDER">Attempt to Murder</option>
                <option value="POCSO">POCSO</option>
                <option value="PUBLIC_SAFETY">Public Safety</option>
                <option value="NARCOTIC_DRUGS_PSHYCOTROPIC_SUBSTANCES">Drug Abuse</option>
                <option value="ROBBERY">Robbery</option>
                <option value="CYBER_CRIME">Cyber Crime</option>
                <option value="NEGLIGENT_ACT">Negligent Act</option>
            </select>
        </div>
    </div>

    <!-- cards -->
    <div id="cards">
        <div id="hotspot" class="flex flex-col overflow-hidden">
            <h2 class="text-[#5C8DD6] text-2xl font-bold">Analyse Hotspots</h2>
            <p class="text-black/60">Visualising crime pattern through time</p>
            <div class="my-4 flex w-full items-end justify-between gap-6">
                <div class="w-5/12">
                    <h3 class="font-bold text-[#5C8DD6]">Boundary</h3>
                    <select id="boundary" class="py-3 px-3 bg-white border w-full border-black">
                        <option value="City">City</option>
                        <option value="Village">Village</option>
                        <option value="District">District</option>
                        <option value="Thana">Thana</option>
                    </select>
                </div>
                <div class="w-5/12">
                    <h3 class="font-bold text-[#5C8DD6]">Time range</h3>
                    <select id="time_range" class="py-3 px-3 bg-white border w-full border-black">
                        <option value="one_month">Last Month</option>
                        <option value="three_months">Last 3 Months</option>
                        <option value="six_months">Last 6 Months</option>
                        <option value="one_year">Last 1 year</option>
                    </select>
                </div>
                <button id="gobutton"
                    class="flex h-12 px-8 rounded-md font-bold text-white items-center bg-[#5C8DD6] hover:bg-[#619BF3]">
                    <h3>GO</h3>
                </button>
            </div>
            <div id="map" class="grow"></div>
        </div>
        <div id="highriskvictims">
            <h2 class="text-[#5C8DD6] text-2xl font-bold">High Risk Victims</h2>
            <p class="text-black/60">Group or people at the utmost risk</p>
        </div>
        <div id="repeatoffenders">
            <h2 class="text-[#5C8DD6] text-2xl font-bold">Most Probable Future Offenders</h2>
            <p class="text-black/60">High risk offenders with the highest probability of reoffending</p>
        </div>
        <div id="suspectedperpetrators">
            <h2 class="text-[#5C8DD6] text-2xl font-bold">Suspected Perpatrators</h2>
            <p class="text-black/60">Matching unsolved crimes with past criminal profiles</p>
        </div>
    </div>

</body>

<style>
    body {
        font-family: DM Sans, sans-serif;
    }

    #cards {
        margin: 2rem;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        height: calc(100vh - 12rem - 20px);
    }

    #repeatoffenders,
    #suspectedperpetrators,
    #highriskvictims,
    #hotspot {
        padding: 10px;
        background-color: white;
        transition: all 0.3s ease-out;
    }

    #repeatoffenders:hover,
    #suspectedperpetrators:hover,
    #highriskvictims:hover,
    #hotspot:hover {
        -webkit-box-shadow: 7px 10px 42px 0px rgba(0, 0, 0, 0.31);
        -moz-box-shadow: 7px 10px 42px 0px rgba(0, 0, 0, 0.31);
        box-shadow: 7px 10px 42px 0px rgba(0, 0, 0, 0.31);
    }

    #repeatoffenders {
        grid-area: 3 / 2 / 4 / 4;
    }

    #suspectedperpetrators {
        grid-area: 1 / 3 / 3 / 4;
    }

    #highriskvictims {
        grid-area: 1 / 2 / 3 / 3;
    }

    #hotspot {
        grid-area: 1 / 1 / 4 / 2;
    }
</style>

</html>

<script>
    var map = L.map('map', {
        center: [15.18, 77.23], // Initial map center
        zoom: 6, // Initial zoom level
        zoomControl: false, // Remove default zoom control
        attributionControl: false, // Instead of default attribution, we add custom at the bottom of script
        scrollWheelZoom: true, // Enable scroll wheel zoom
        dragging: true // Enable click and drag camera movement
    });

    L.control.zoom({
        position: 'bottomright'
    }).addTo(map);

    L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager_labels_under/{z}/{x}/{y}{r}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: 16
    }).addTo(map);

    // adding crime hotspots
    var KARNATAKA_POLICE_ACT_1963 = L.heatLayer([], { radius: 25, gradient: { 0.4: 'blue', 0.65: 'lime', 1: 'red' } });
    var THEFT = L.heatLayer([], { radius: 25, gradient: { 0.4: 'green', 0.65: 'yellow', 1: 'red' } });
    var CRPC = L.heatLayer([], { radius: 25, gradient: { 0.4: 'purple', 0.65: 'pink', 1: 'red' } });
    var CHEATING = L.heatLayer([], { radius: 25, gradient: { 0.4: 'cyan', 0.65: 'magenta', 1: 'red' } });
    var KARNATAKA_STATE_LOCAL_ACT = L.heatLayer([], { radius: 25, gradient: { 0.4: 'orange', 0.65: 'yellow', 1: 'red' } });
    var MOLESTATION = L.heatLayer([], { radius: 25, gradient: { 0.4: 'blue', 0.65: 'green', 1: 'red' } });
    var MISSING_PERSON = L.heatLayer([], { radius: 25, gradient: { 0.4: 'purple', 0.65: 'cyan', 1: 'red' } });
    var RIOTS = L.heatLayer([], { radius: 25, gradient: { 0.4: 'green', 0.65: 'blue', 1: 'red' } });
    var CASES_OF_HURT = L.heatLayer([], { radius: 25, gradient: { 0.4: 'cyan', 0.65: 'purple', 1: 'red' } });
    var BURGLARY_NIGHT = L.heatLayer([], { radius: 25, gradient: { 0.4: 'yellow', 0.65: 'orange', 1: 'red' } });
    var CRUELTY_BY_HUSBAND = L.heatLayer([], { radius: 25, gradient: { 0.4: 'pink', 0.65: 'blue', 1: 'red' } });
    var ATTEMPT_TO_MURDER = L.heatLayer([], { radius: 25, gradient: { 0.4: 'orange', 0.65: 'green', 1: 'red' } });
    var POCSO = L.heatLayer([], { radius: 25, gradient: { 0.4: 'blue', 0.65: 'pink', 1: 'red' } });
    var PUBLIC_SAFETY = L.heatLayer([], { radius: 25, gradient: { 0.4: 'green', 0.65: 'cyan', 1: 'red' } });
    var NARCOTIC_DRUGS_PSHYCOTROPIC_SUBSTANCES = L.heatLayer([], { radius: 25, gradient: { 0.4: 'purple', 0.65: 'orange', 1: 'red' } });
    var ROBBERY = L.heatLayer([], { radius: 25, gradient: { 0.4: 'cyan', 0.65: 'green', 1: 'red' } });
    var CYBER_CRIME = L.heatLayer([], { radius: 25, gradient: { 0.4: 'yellow', 0.65: 'blue', 1: 'red' } });
    var NEGLIGENT_ACT = L.heatLayer([], { radius: 25, gradient: { 0.4: 'pink', 0.65: 'yellow', 1: 'red' } });


    var overlayMaps = {
        "KPA1963": KARNATAKA_POLICE_ACT_1963,
        "Theft": THEFT,
        "CrPC": CRPC,
        "Cheating": CHEATING,
        "Local State Act": KARNATAKA_STATE_LOCAL_ACT,
        "Molestation": MOLESTATION,
        "Missing Person": MISSING_PERSON,
        "Riots": RIOTS,
        "Cases of hurt": CASES_OF_HURT,
        'Burglary (Night)': BURGLARY_NIGHT,
        'Cruelty by Husband': CRUELTY_BY_HUSBAND,
        'Attempt to Murder': ATTEMPT_TO_MURDER,
        'POCSO': POCSO,
        'Public Safety': PUBLIC_SAFETY,
        'Drug Abuse': NARCOTIC_DRUGS_PSHYCOTROPIC_SUBSTANCES,
        'Robbery': ROBBERY,
        'Cyber Crime': CYBER_CRIME,
        'Negligent Act': NEGLIGENT_ACT
    };

    document.getElementById('gobutton').addEventListener('click', function () {
        var filePaths = [];

        

        var startYear = parseInt(document.getElementById('startYear').value);
        var startMonth = parseInt(document.getElementById('startMonth').value);
        var endYear = parseInt(document.getElementById('endYear').value);
        var endMonth = parseInt(document.getElementById('endMonth').value);

        for (var year = startYear; year <= endYear; year++) {
            filePaths.push(year + '_Data.csv');
        }

        filePaths.forEach(function (filePath) {
            Papa.parse('/static/data/' + filePath, {
                header: true,
                download: true,
                dynamicTyping: true,
                complete: function (results) {

                    results.data.forEach(function (d) {
                        var lat = d.Latitude;
                        var lng = d.Longitude;
                        var type = d.CrimeGroup_Name;
                        var year = parseInt(d.Year);
                        var month = parseInt(d.Month);

                        // Check if the row falls within the specified date range
                        if ((year > startYear || (year === startYear && month >= startMonth)) &&
                            (year < endYear || (year === endYear && month <= endMonth))) {
                            // Process the row based on crime type
                            switch (type) {
                                case "KARNATAKA POLICE ACT 1963":
                                    KARNATAKA_POLICE_ACT_1963.addLatLng([lat, lng]);
                                    break;
                                case "THEFT":
                                    THEFT.addLatLng([lat, lng]);
                                    break;
                                case "CrPC":
                                    CRPC.addLatLng([lat, lng]);
                                    break;
                                case "CHEATING":
                                    CHEATING.addLatLng([lat, lng]);
                                    break;
                                case "Karnataka State Local Act":
                                    KARNATAKA_STATE_LOCAL_ACT.addLatLng([lat, lng]);
                                    break;
                                case "MOLESTATION":
                                    MOLESTATION.addLatLng([lat, lng]);
                                    break;
                                case "MISSING PERSON":
                                    MISSING_PERSON.addLatLng([lat, lng]);
                                    break;
                                case "RIOTS":
                                    RIOTS.addLatLng([lat, lng]);
                                    break;
                                case "CASES OF HURT":
                                    CASES_OF_HURT.addLatLng([lat, lng]);
                                    break;
                                case "BURGLARY - NIGHT":
                                    BURGLARY_NIGHT.addLatLng([lat, lng]);
                                    break;
                                case "CRUELTY BY HUSBAND":
                                    CRUELTY_BY_HUSBAND.addLatLng([lat, lng]);
                                    break;
                                case "ATTEMPT TO MURDER":
                                    ATTEMPT_TO_MURDER.addLatLng([lat, lng]);
                                    break;
                                case "POCSO":
                                    POCSO.addLatLng([lat, lng]);
                                    break;
                                case "PUBLIC SAFETY":
                                    PUBLIC_SAFETY.addLatLng([lat, lng]);
                                    break;
                                case "NARCOTIC DRUGS & PSHYCOTROPIC SUBSTANCES":
                                    NARCOTIC_DRUGS_PSHYCOTROPIC_SUBSTANCES.addLatLng([lat, lng]);
                                    break;
                                case "ROBBERY":
                                    ROBBERY.addLatLng([lat, lng]);
                                    break;
                                case "CYBER CRIME":
                                    CYBER_CRIME.addLatLng([lat, lng]);
                                    break;
                                case "NEGLIGENT ACT":
                                    NEGLIGENT_ACT.addLatLng([lat, lng]);
                                    break;
                                default:
                                    break;
                            }
                        }
                    });
                }
            });
        });
    });

</script>

{% endblock %}