{% extends "nav.html" %} {% block content %}
<div
  style="
    width: 610px;
    height: 479px;
    left: 591px;
    top: 190px;
    position: absolute;
    background: white;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
  "
>
  <div
    style="
      left: 291px;
      top: 113px;
      position: absolute;
      color: #2b2b2b;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Area
  </div>
  <div
    style="
      left: 22px;
      top: 113px;
      position: absolute;
      color: #2b2b2b;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Gender/Age
  </div>
  <div
    style="
      left: 151px;
      top: 113px;
      position: absolute;
      color: #2b2b2b;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Religion/Caste
  </div>
  <div
    style="
      left: 459px;
      top: 113px;
      position: absolute;
      color: #2b2b2b;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Risk Probability
  </div>
  <div
    style="
      width: 568px;
      height: 0px;
      left: 22px;
      top: 135px;
      position: absolute;
      border: 0.5px #6c6c6c solid;
    "
  ></div>
  <div
    style="
      left: 22px;
      top: 157px;
      position: absolute;
      color: #4f4f4f;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Women 12-28
  </div>
  <div
    style="
      left: 22px;
      top: 210px;
      position: absolute;
      color: #4f4f4f;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Children 6-14
  </div>
  <div
    style="
      left: 22px;
      top: 259px;
      position: absolute;
      color: #4f4f4f;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Women 40-60
  </div>
  <div
    style="
      left: 22px;
      top: 308px;
      position: absolute;
      color: #4f4f4f;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Men 30-45
  </div>
  <div
    style="
      left: 153px;
      top: 157px;
      position: absolute;
      color: #4f4f4f;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Dalits
  </div>
  <div
    style="
      left: 153px;
      top: 210px;
      position: absolute;
      color: #4f4f4f;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Muslims
  </div>
  <div
    style="
      left: 153px;
      top: 259px;
      position: absolute;
      color: #4f4f4f;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    All
  </div>
  <div
    style="
      left: 153px;
      top: 308px;
      position: absolute;
      color: #4f4f4f;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Working Class
  </div>
  <div
    style="
      left: 291px;
      top: 157px;
      position: absolute;
      color: #4f4f4f;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Lal Chowk Block
  </div>
  <div
    style="
      left: 291px;
      top: 210px;
      position: absolute;
      color: #4f4f4f;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    DSSK Nagar
  </div>
  <div
    style="
      left: 291px;
      top: 259px;
      position: absolute;
      color: #4f4f4f;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Rajiv Chowk
  </div>
  <div
    style="
      left: 291px;
      top: 308px;
      position: absolute;
      color: #4f4f4f;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    DND Flyover
  </div>
  <div
    style="
      left: 459px;
      top: 152px;
      position: absolute;
      color: #f62f12;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    78%
  </div>
  <div
    style="
      left: 459px;
      top: 205px;
      position: absolute;
      color: #f74a1d;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    65%
  </div>
  <div
    style="
      left: 459px;
      top: 254px;
      position: absolute;
      color: #f9792f;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    56%
  </div>
  <div
    style="
      left: 459px;
      top: 303px;
      position: absolute;
      color: #f9792f;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    52%
  </div>
  <div style="left: 470px; top: 28px; position: absolute">
    <div
      style="
        left: 0px;
        top: 3px;
        position: absolute;
        color: #6c6c6c;
        font-size: 15px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Get full details
    </div>
    <div
      style="
        width: 17px;
        height: 17px;
        left: 103px;
        top: 0px;
        position: absolute;
      "
    >
      <div
        style="
          width: 17px;
          height: 17px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #d9d9d9;
        "
      ></div>
      <div
        style="
          width: 10px;
          height: 9.68px;
          left: 4px;
          top: 2.88px;
          position: absolute;
          background: #6c6c6c;
        "
      ></div>
    </div>
  </div>
  <div
    style="
      left: 22px;
      top: 55px;
      position: absolute;
      color: #6c6c6c;
      font-size: 20px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Group or people at the utmost risk
  </div>
  <div
    style="
      left: 22px;
      top: 22px;
      position: absolute;
      color: white;
      font-size: 24px;
      font-family: Arial;
      font-weight: 700;
      word-wrap: break-word;
    "
  >
    High risk victims
  </div>
</div>
<div
  style="
    left: 1347px;
    top: 133px;
    position: absolute;
    color: #2b2b2b;
    font-size: 20px;
    font-family: Arial;
    font-weight: 500;
    word-wrap: break-word;
  "
>
  Crime Type
</div>
<div
  style="
    width: 228px;
    height: 45px;
    left: 1480px;
    top: 117px;
    position: absolute;
  "
>
  <div
    style="
      width: 228px;
      height: 45px;
      left: 0px;
      top: 0px;
      position: absolute;
      background: white;
      border: 0.4px #2b2b2b solid;
    "
  ></div>
  <div
    style="
      left: 14px;
      top: 17px;
      position: absolute;
      color: #4f4f4f;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Domestic Violence
  </div>
  <div
    style="
      width: 24px;
      height: 24px;
      left: 192px;
      top: 11px;
      position: absolute;
    "
  >
    <div
      style="
        width: 24px;
        height: 24px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #d9d9d9;
      "
    ></div>
    <div
      style="
        width: 10.22px;
        height: 5.49px;
        left: 6.9px;
        top: 8.88px;
        position: absolute;
        background: #2b2b2b;
      "
    ></div>
  </div>
</div>
<div
  style="
    left: 130px;
    top: 122px;
    position: absolute;
    color: black;
    font-size: 32px;
    font-family: Arial;
    font-weight: 300;
    word-wrap: break-word;
    color: white;
  "
>
  Dashboard
</div>
<div
  style="
    width: 487px;
    height: 479px;
    left: 1221px;
    top: 190px;
    position: absolute;
    background: #20161f;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.05);
  "
>
  <div
    style="
      left: 22px;
      top: 22px;
      position: absolute;
      color: white;
      font-size: 24px;
      font-family: Arial;
      font-weight: 700;
      word-wrap: break-word;
    "
  >
    Suspected Perpetrators
  </div>
  <div
    style="
      width: 397px;
      left: 22px;
      top: 55px;
      position: absolute;
      color: #6c6c6c;
      font-size: 20px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Matching unsolved crimes with past criminal profiles
  </div>
  <div style="left: 346px; top: 25px; position: absolute">
    <div
      style="
        left: 0px;
        top: 3px;
        position: absolute;
        color: #6c6c6c;
        font-size: 10px;
        font-family: Arial;
        font-weight: 400;
      "
    >
      Get full details
    </div>
    <div
      style="
        width: 17px;
        height: 17px;
        left: 103px;
        top: 0px;
        position: absolute;
      "
    >
      <div
        style="
          width: 17px;
          height: 17px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #d9d9d9;
        "
      ></div>
      <div
        style="
          width: 10px;
          height: 9.68px;
          left: 4px;
          top: 2.88px;
          position: absolute;
          background: #6c6c6c;
        "
      ></div>
    </div>
  </div>
  <div
    style="
      width: 278px;
      height: 0px;
      left: 298px;
      top: 178px;
      position: absolute;
      transform: rotate(90deg);
      transform-origin: 0 0;
      border: 0.6px #acacac solid;
    "
  ></div>
  <div
    style="
      width: 444px;
      height: 43px;
      left: 22px;
      top: 116px;
      position: absolute;
      background: #fafafa;
    "
  >
    <div
      style="
        width: 43px;
        height: 0px;
        left: 130px;
        top: 0px;
        position: absolute;
        transform: rotate(90deg);
        transform-origin: 0 0;
        border: 0.5px rgba(0, 0, 0, 0.5) solid;
      "
    ></div>
    <div
      style="
        width: 43px;
        height: 0px;
        left: 276px;
        top: 0px;
        position: absolute;
        transform: rotate(90deg);
        transform-origin: 0 0;
        border: 0.5px rgba(0, 0, 0, 0.5) solid;
      "
    ></div>
    <div
      style="
        left: 12px;
        top: 5px;
        position: absolute;
        color: #4f4f4f;
        font-size: 12px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Start Date
    </div>
    <div
      style="
        width: 18px;
        height: 18px;
        left: 10px;
        top: 20px;
        position: absolute;
      "
    >
      <div
        style="
          width: 18px;
          height: 18px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #d9d9d9;
        "
      ></div>
      <div
        style="
          width: 12px;
          height: 13.67px;
          left: 3px;
          top: 2.08px;
          position: absolute;
          background: #2b2b2b;
        "
      ></div>
    </div>
    <div
      style="
        width: 18px;
        height: 18px;
        left: 146px;
        top: 18px;
        position: absolute;
      "
    >
      <div
        style="
          width: 18px;
          height: 18px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #d9d9d9;
        "
      ></div>
      <div
        style="
          width: 12px;
          height: 13.67px;
          left: 3px;
          top: 2.08px;
          position: absolute;
          background: #2b2b2b;
        "
      ></div>
    </div>
    <div
      style="
        left: 35px;
        top: 24px;
        position: absolute;
        color: #2b2b2b;
        font-size: 14px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      30/12/2023
    </div>
    <div
      style="
        left: 146px;
        top: 6px;
        position: absolute;
        color: #4f4f4f;
        font-size: 10px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Till Date
    </div>
    <div
      style="
        left: 173px;
        top: 22px;
        position: absolute;
        color: #2b2b2b;
        font-size: 14px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      02/02/2024
    </div>
    <div
      style="
        left: 323px;
        top: 17px;
        position: absolute;
        color: #868686;
        font-size: 14px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Search By ID
    </div>
    <div
      style="
        width: 24px;
        height: 24px;
        left: 286px;
        top: 10px;
        position: absolute;
      "
    >
      <div
        style="
          width: 24px;
          height: 24px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #d9d9d9;
        "
      ></div>
      <div
        style="
          width: 16px;
          height: 16px;
          left: 4px;
          top: 4px;
          position: absolute;
          background: #4f4f4f;
        "
      ></div>
    </div>
  </div>
  <div
    style="
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 3px;
      padding-bottom: 3px;
      left: 22px;
      top: 200px;
      position: absolute;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        color: white;
        font-size: 14px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      ID
    </div>
  </div>
  <div
    style="
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 3px;
      padding-bottom: 3px;
      left: 22px;
      top: 277px;
      position: absolute;
      background: #ffa692;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        color: white;
        font-size: 14px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      ID
    </div>
  </div>
  <div
    style="
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 3px;
      padding-bottom: 3px;
      left: 22px;
      top: 367px;
      position: absolute;
      background: #ffa692;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        color: white;
        font-size: 14px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      ID
    </div>
  </div>
  <div
    style="
      left: 53px;
      top: 203px;
      position: absolute;
      color: #2b2b2b;
      font-size: 14px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    3453
  </div>
  <div
    style="
      left: 53px;
      top: 280px;
      position: absolute;
      color: #2b2b2b;
      font-size: 14px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    2345
  </div>
  <div
    style="
      left: 53px;
      top: 370px;
      position: absolute;
      color: #2b2b2b;
      font-size: 14px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    3948
  </div>
  <div
    style="
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 4px;
      padding-bottom: 4px;
      left: 22px;
      top: 223px;
      position: absolute;
      background: #a4b3ff;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        color: white;
        font-size: 14px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Description
    </div>
  </div>
  <div
    style="
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 4px;
      padding-bottom: 4px;
      left: 22px;
      top: 300px;
      position: absolute;
      background: #a4b3ff;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        color: white;
        font-size: 14px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Description
    </div>
  </div>
  <div
    style="
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 4px;
      padding-bottom: 4px;
      left: 22px;
      top: 390px;
      position: absolute;
      background: #a4b3ff;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        color: white;
        font-size: 14px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Description
    </div>
  </div>
  <div
    style="
      width: 162px;
      left: 114px;
      top: 227px;
      position: absolute;
      color: black;
      font-size: 14px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Robbery at old woman’s
  </div>
  <div
    style="
      width: 162px;
      left: 114px;
      top: 304px;
      position: absolute;
      color: black;
      font-size: 14px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Robbery at MS Jwellers
  </div>
  <div
    style="
      width: 189px;
      left: 112px;
      top: 395px;
      position: absolute;
      color: black;
      font-size: 14px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Robbery at a woman’s home
  </div>
  <div
    style="
      left: 27px;
      top: 248px;
      position: absolute;
      color: black;
      font-size: 14px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    house in MK Road
  </div>
  <div
    style="
      left: 27px;
      top: 325px;
      position: absolute;
      color: black;
      font-size: 14px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    near children’s park
  </div>
  <div
    style="
      left: 27px;
      top: 415px;
      position: absolute;
      color: black;
      font-size: 14px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    by masked men at Gandhi Society
  </div>
  <div
    style="
      left: 22px;
      top: 173px;
      position: absolute;
      color: black;
      font-size: 16px;
      font-family: Arial;
      font-weight: 500;
      word-wrap: break-word;
    "
  >
    Crime
  </div>
  <div
    style="
      left: 313px;
      top: 173px;
      position: absolute;
      color: black;
      font-size: 16px;
      font-family: Arial;
      font-weight: 500;
      word-wrap: break-word;
    "
  >
    Profile’s Matched
  </div>
  <div
    style="
      left: 306px;
      top: 208px;
      position: absolute;
      color: black;
      font-size: 14px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Swaminathan Reddy<br />NT Rama Rao<br />G. Mahesh Babu
  </div>
  <div
    style="
      left: 308px;
      top: 285px;
      position: absolute;
      color: black;
      font-size: 14px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Swaminathan Reddy<br />NT Rama Rao<br />G. Mahesh Babu
  </div>
  <div
    style="
      left: 309px;
      top: 379px;
      position: absolute;
      color: black;
      font-size: 14px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Swaminathan Reddy<br />NT Rama Rao<br />G. Mahesh Babu
  </div>
</div>
<div
  style="
    width: 456px;
    height: 770px;
    left: 115px;
    top: 190px;
    position: absolute;
    background: white;
    box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.05);
  "
>
  <div style="height: 65px; left: 15px; top: 111px; position: absolute">
    <div
      style="
        width: 207px;
        height: 45px;
        left: 1px;
        top: 20px;
        position: absolute;
      "
    >
      <div
        style="
          width: 207px;
          height: 45px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #f9f9f9;
          border: 0.4px #2b2b2b solid;
        "
      ></div>
      <div
        style="
          left: 14px;
          top: 17px;
          position: absolute;
          color: #4f4f4f;
          font-size: 16px;
          font-family: Arial;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Districts
      </div>
      <div
        style="
          width: 24px;
          height: 24px;
          left: 170px;
          top: 11px;
          position: absolute;
        "
      >
        <div
          style="
            width: 24px;
            height: 24px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #d9d9d9;
          "
        ></div>
        <div
          style="
            width: 10.22px;
            height: 5.49px;
            left: 6.9px;
            top: 8.88px;
            position: absolute;
            background: #2b2b2b;
          "
        ></div>
      </div>
    </div>
    <div
      style="
        left: 0px;
        top: 0px;
        position: absolute;
        color: #2b2b2b;
        font-size: 16px;
        font-family: Arial;
        font-weight: 500;
        word-wrap: break-word;
      "
    >
      Boundary
    </div>
  </div>
  <div
    style="
      left: 15px;
      top: 69px;
      position: absolute;
      color: #6c6c6c;
      font-size: 20px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Visualising crime pattern through time
  </div>
  <img
    style="
      width: 426px;
      height: 415px;
      left: 16px;
      top: 297px;
      position: absolute;
    "
    src="https://via.placeholder.com/426x415"
  />
  <div
    style="
      width: 427px;
      height: 59px;
      left: 15px;
      top: 205px;
      position: absolute;
    "
  >
    <div
      style="
        left: 159px;
        top: 0px;
        position: absolute;
        color: black;
        font-size: 20px;
        font-family: Arial;
        font-weight: 500;
        word-wrap: break-word;
      "
    >
      Time Range
    </div>
    <div
      style="
        width: 426px;
        height: 0px;
        left: 1px;
        top: 37px;
        position: absolute;
        border: 5px #ff9191 solid;
      "
    ></div>
    <div
      style="
        left: 1px;
        top: 47px;
        position: absolute;
        color: #ff9191;
        font-size: 16px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Past
    </div>
    <div
      style="
        left: 379px;
        top: 47px;
        position: absolute;
        color: #ef99fe;
        font-size: 16px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Future
    </div>
    <div
      style="
        left: 186px;
        top: 47px;
        position: absolute;
        color: #5e90dc;
        font-size: 16px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Present
    </div>
    <div
      style="
        left: 0px;
        top: 19px;
        position: absolute;
        color: #6c6c6c;
        font-size: 12px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      1 Year
    </div>
    <div
      style="
        left: 390px;
        top: 19px;
        position: absolute;
        color: #6c6c6c;
        font-size: 12px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      7 Days
    </div>
    <div
      style="
        width: 110px;
        height: 0px;
        left: 247px;
        top: 59px;
        position: absolute;
        border: 1px #8e8e8e solid;
      "
    ></div>
    <div
      style="
        width: 15px;
        height: 0px;
        left: 357px;
        top: 58px;
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: 0 0;
        border: 1px #8e8e8e solid;
      "
    ></div>
    <div
      style="
        left: 278px;
        top: 47px;
        position: absolute;
        color: #6c6c6c;
        font-size: 10px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      ~5 Days
    </div>
    <div
      style="
        width: 15px;
        height: 15px;
        left: 349px;
        top: 29px;
        position: absolute;
        background: white;
        border-radius: 9999px;
        border: 1px black solid;
      "
    ></div>
  </div>
  <div style="left: 15px; top: 741px; position: absolute">
    <div
      style="
        left: 16px;
        top: 1px;
        position: absolute;
        color: #6c6c6c;
        font-size: 12px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Hover over map for more information
    </div>
    <div
      style="
        width: 11px;
        height: 11px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #6c6c6c;
      "
    ></div>
  </div>
  <div
    style="
      width: 41.8px;
      height: 104.5px;
      left: 385px;
      top: 591px;
      position: absolute;
      background: rgba(28.83, 28.83, 28.83, 0.55);
      border-radius: 8.36px;
      overflow: hidden;
      backdrop-filter: blur(8.36px);
    "
  >
    <div
      style="
        width: 33.44px;
        height: 0px;
        left: 4.18px;
        top: 52.25px;
        position: absolute;
        border: 1.46px rgba(255, 255, 255, 0.76) solid;
      "
    ></div>
    <div
      style="
        width: 29.26px;
        height: 29.26px;
        left: 6.27px;
        top: 12.54px;
        position: absolute;
      "
    >
      <div
        style="
          width: 29.26px;
          height: 29.26px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #d9d9d9;
        "
      ></div>
      <div
        style="
          width: 15.85px;
          height: 15.85px;
          left: 6.71px;
          top: 6.71px;
          position: absolute;
          background: white;
        "
      ></div>
    </div>
    <div
      style="
        width: 29.26px;
        height: 29.26px;
        left: 6.27px;
        top: 62.7px;
        position: absolute;
      "
    >
      <div
        style="
          width: 29.26px;
          height: 29.26px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #d9d9d9;
        "
      ></div>
      <div
        style="
          width: 15.85px;
          height: 1.83px;
          left: 6.7px;
          top: 13.72px;
          position: absolute;
          background: white;
        "
      ></div>
    </div>
  </div>
  <div
    style="
      left: 16px;
      top: 28px;
      position: absolute;
      color: white;
      font-size: 24px;
      font-family: Arial;
      font-weight: 700;
      word-wrap: break-word;
    "
  >
    Analyse Hotspots
  </div>
  <div style="left: 318px; top: 736px; position: absolute">
    <div
      style="
        left: 0px;
        top: 3px;
        position: absolute;
        color: #6c6c6c;
        font-size: 15px;
        font-family: Arial;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Get full details
    </div>
    <div
      style="
        width: 17px;
        height: 17px;
        left: 103px;
        top: 0px;
        position: absolute;
      "
    >
      <div
        style="
          width: 17px;
          height: 17px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #d9d9d9;
        "
      ></div>
      <div
        style="
          width: 10px;
          height: 9.68px;
          left: 4px;
          top: 2.88px;
          position: absolute;
          background: #6c6c6c;
        "
      ></div>
    </div>
  </div>
</div>
<div
  style="
    width: 1117px;
    height: 271px;
    left: 591px;
    top: 689px;
    position: absolute;
    background: white;
    box-shadow: 0px 15px 32px rgba(0, 0, 0, 0.05);
  "
>
  <div
    style="
      left: 22px;
      top: 22px;
      position: absolute;
      color: white;
      font-size: 24px;
      font-family: Arial;
      font-weight: 700;
      text-transform: capitalize;
      word-wrap: break-word;
    "
  >
    Most probable repeat offenders
  </div>
  <div
    style="
      left: 22px;
      top: 52px;
      position: absolute;
      color: #6c6c6c;
      font-size: 20px;
      font-family: Arial;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    High risk offenders with the highest probability of reoffending
  </div>
  <div
    style="
      left: 523px;
      top: 15px;
      position: absolute;
      text-align: center;
      color: black;
      font-size: 20px;
      font-family: Inter;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    hish risk repeat offenders
  </div>
</div>
{% endblock %}
