<div style="width: 100%; height: 100%; position: relative; background: #f8f8f8">
  <div
    style="
      width: 95px;
      height: 926px;
      left: 0px;
      top: 34px;
      position: absolute;
      background: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    "
  >
    <div
      style="
        width: 40px;
        height: 33.16px;
        left: 28px;
        top: 20px;
        position: absolute;
      "
    >
      <div
        style="
          width: 40px;
          height: 33.16px;
          left: 0px;
          top: 0px;
          position: absolute;
        "
      ></div>
      <img
        style="
          width: 26.67px;
          height: 16.58px;
          left: 6.67px;
          top: 8.29px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
    </div>
    <div
      style="
        width: 55px;
        height: 0px;
        left: 20px;
        top: 73.78px;
        position: absolute;
        border: 0.6px rgba(0, 0, 0, 0.18) solid;
      "
    ></div>
    <div
      style="
        width: 38px;
        height: 699px;
        left: 29px;
        top: 149px;
        position: absolute;
      "
    >
      <div
        style="
          width: 95px;
          left: 0px;
          top: 95px;
          position: absolute;
          transform: rotate(-90deg);
          transform-origin: 0 0;
          text-align: center;
          color: #6c6c6c;
          font-size: 20px;
          font-family: Gotham;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Hotspot Mapping
      </div>
      <div
        style="
          width: 120px;
          left: 0px;
          top: 279px;
          position: absolute;
          transform: rotate(-90deg);
          transform-origin: 0 0;
          text-align: center;
          color: #6c6c6c;
          font-size: 20px;
          font-family: Gotham;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Victim<br />Prediction
      </div>
      <div
        style="
          width: 143px;
          left: 0px;
          top: 486px;
          position: absolute;
          transform: rotate(-90deg);
          transform-origin: 0 0;
          text-align: center;
          color: #6c6c6c;
          font-size: 20px;
          font-family: Gotham;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Suspected<br />Perpetrators
      </div>
      <div
        style="
          width: 149px;
          left: 0px;
          top: 699px;
          position: absolute;
          transform: rotate(-90deg);
          transform-origin: 0 0;
          text-align: center;
          color: #6c6c6c;
          font-size: 20px;
          font-family: Gotham;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Most Probable Offenders
      </div>
      <div
        style="
          width: 38px;
          height: 0px;
          left: 0px;
          top: 128px;
          position: absolute;
          border: 0.6px rgba(0, 0, 0, 0.5) solid;
        "
      ></div>
      <div
        style="
          width: 38px;
          height: 0px;
          left: 0px;
          top: 308px;
          position: absolute;
          border: 0.6px rgba(0, 0, 0, 0.5) solid;
        "
      ></div>
      <div
        style="
          width: 38px;
          height: 0px;
          left: 0px;
          top: 512px;
          position: absolute;
          border: 0.6px rgba(0, 0, 0, 0.5) solid;
        "
      ></div>
    </div>
  </div>
  <div
    style="
      width: 168px;
      height: 33px;
      left: 131px;
      top: 34px;
      position: absolute;
    "
  ></div>
  <img
    style="
      width: 66px;
      height: 57px;
      left: 1387px;
      top: 23px;
      position: absolute;
    "
    src="https://via.placeholder.com/66x57"
  />
  <div
    style="
      left: 1468px;
      top: 28px;
      position: absolute;
      color: black;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Karnataka State Police
  </div>
  <div
    style="
      left: 1468px;
      top: 59px;
      position: absolute;
      color: rgba(0, 0, 0, 0.63);
      font-size: 13px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Government of Karnataka
  </div>
  <img
    style="
      width: 32px;
      height: 48.39px;
      left: 1293px;
      top: 28px;
      position: absolute;
    "
    src="https://via.placeholder.com/32x48"
  />
  <div
    style="
      width: 39px;
      height: 0px;
      left: 1359px;
      top: 34px;
      position: absolute;
      transform: rotate(90deg);
      transform-origin: 0 0;
      border: 0.4px rgba(0, 0, 0, 0.39) solid;
    "
  ></div>
  <div
    style="
      left: 318px;
      top: 56px;
      position: absolute;
      color: #2b2b2b;
      font-size: 15px;
      font-family: DM Sans;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Building a Safer Neighborhood
  </div>
  <div
    style="
      left: 131px;
      top: 108px;
      position: absolute;
      color: #5c8dd6;
      font-size: 32px;
      font-family: Gotham;
      font-weight: 700;
      word-wrap: break-word;
    "
  >
    Real time threat analysis
  </div>
  <div
    style="
      width: 548px;
      height: 780px;
      left: 131px;
      top: 180px;
      position: absolute;
      background: white;
      border-radius: 15px;
      overflow: hidden;
    "
  >
    <div
      style="
        left: 20px;
        top: 15px;
        position: absolute;
        text-align: center;
        color: #2b2b2b;
        font-size: 24px;
        font-family: DM Sans;
        font-weight: 500;
        word-wrap: break-word;
      "
    >
      Trending Topics Locally
    </div>
    <div
      style="
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 3px;
        padding-bottom: 3px;
        left: 17px;
        top: 65px;
        position: absolute;
        background: #6eb9ff;
        border-radius: 26px;
        justify-content: center;
        align-items: center;
        gap: 1px;
        display: inline-flex;
      "
    >
      <div
        style="
          text-align: center;
          color: white;
          font-size: 20px;
          font-family: DM Sans;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        rally
      </div>
    </div>
    <div
      style="
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 3px;
        padding-bottom: 3px;
        left: 92px;
        top: 65px;
        position: absolute;
        background: #6eb9ff;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        gap: 1px;
        display: inline-flex;
      "
    >
      <div
        style="
          text-align: center;
          color: white;
          font-size: 20px;
          font-family: DM Sans;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        election
      </div>
    </div>
    <div
      style="
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 3px;
        padding-bottom: 3px;
        left: 203px;
        top: 65px;
        position: absolute;
        background: #6eb9ff;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        gap: 1px;
        display: inline-flex;
      "
    >
      <div
        style="
          text-align: center;
          color: white;
          font-size: 20px;
          font-family: DM Sans;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        protest
      </div>
    </div>
    <div
      style="
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 3px;
        padding-bottom: 3px;
        left: 307px;
        top: 65px;
        position: absolute;
        background: #6eb9ff;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        gap: 1px;
        display: inline-flex;
      "
    >
      <div
        style="
          text-align: center;
          color: white;
          font-size: 20px;
          font-family: DM Sans;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        #boycottcelebrity
      </div>
    </div>
    <div
      style="
        width: 10px;
        height: 10px;
        left: 420px;
        top: 26px;
        position: absolute;
        background: #ff3434;
        box-shadow: 0px 0px 5.699999809265137px #ff3434;
        border-radius: 9999px;
      "
    ></div>
    <div
      style="
        left: 439px;
        top: 22px;
        position: absolute;
        text-align: center;
        color: #6c6c6c;
        font-size: 14px;
        font-family: DM Sans;
        font-weight: 500;
        word-wrap: break-word;
      "
    >
      Live Updates
    </div>
    <div
      style="
        height: 202px;
        padding-left: 31px;
        padding-right: 31px;
        padding-top: 35px;
        padding-bottom: 35px;
        left: 20px;
        top: 122px;
        position: absolute;
        background: white;
        box-shadow: 0px 15px 60px rgba(29, 161, 242, 0.15);
        border-radius: 10px;
        border: 1px rgba(29, 161, 242, 0.2) solid;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          justify-content: space-between;
          align-items: center;
          display: inline-flex;
        "
      >
        <div
          style="
            justify-content: flex-start;
            align-items: center;
            gap: 22px;
            display: flex;
          "
        >
          <img
            style="width: 50px; height: 50px; border-radius: 9999px"
            src="https://via.placeholder.com/50x50"
          />
          <div
            style="
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 1px;
              display: inline-flex;
            "
          >
            <div
              style="
                color: #2b2b2b;
                font-size: 18px;
                font-family: Source Sans Pro;
                font-weight: 700;
                word-wrap: break-word;
              "
            >
              John Doe
            </div>
            <div
              style="
                color: rgba(0, 0, 0, 0.6);
                font-size: 16px;
                font-family: Source Sans Pro;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              @realjohndoe
            </div>
          </div>
        </div>
        <div style="width: 30px; height: 30px; position: relative">
          <div
            style="
              width: 27.5px;
              height: 22.43px;
              left: 1.25px;
              top: 3.74px;
              position: absolute;
              background: #1da1f2;
            "
          ></div>
        </div>
      </div>
      <div style="align-self: stretch">
        <span
          style="
            color: #2b2b2b;
            font-size: 16px;
            font-family: Source Sans Pro;
            font-weight: 400;
            line-height: 26px;
            word-wrap: break-word;
          "
          >Sample tweet. Latest Happening in this area </span
        ><span
          style="
            color: #1da1f2;
            font-size: 16px;
            font-family: Source Sans Pro;
            font-weight: 400;
            line-height: 26px;
            word-wrap: break-word;
          "
          >#rally</span
        >
      </div>
      <div
        style="
          justify-content: flex-start;
          align-items: flex-start;
          gap: 20px;
          display: inline-flex;
        "
      >
        <div
          style="
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            display: flex;
          "
        >
          <div style="width: 24px; height: 24px; position: relative">
            <div
              style="
                width: 20.9px;
                height: 18.23px;
                left: 1.55px;
                top: 3px;
                position: absolute;
                border: 2px rgba(0, 0, 0, 0.6) solid;
              "
            ></div>
          </div>
          <div
            style="
              color: rgba(0, 0, 0, 0.6);
              font-size: 16px;
              font-family: Source Sans Pro;
              font-weight: 600;
              line-height: 26px;
              word-wrap: break-word;
            "
          >
            650
          </div>
        </div>
        <div
          style="
            color: rgba(0, 0, 0, 0.6);
            font-size: 16px;
            font-family: Source Sans Pro;
            font-weight: 600;
            line-height: 26px;
            word-wrap: break-word;
          "
        >
          3:40 PM – Feb 24, 2022
        </div>
      </div>
    </div>
    <div
      style="
        height: 202px;
        padding-left: 31px;
        padding-right: 31px;
        padding-top: 35px;
        padding-bottom: 35px;
        left: 20px;
        top: 343px;
        position: absolute;
        background: white;
        box-shadow: 0px 15px 60px rgba(29, 161, 242, 0.15);
        border-radius: 10px;
        border: 1px rgba(29, 161, 242, 0.2) solid;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          justify-content: space-between;
          align-items: center;
          display: inline-flex;
        "
      >
        <div
          style="
            justify-content: flex-start;
            align-items: center;
            gap: 22px;
            display: flex;
          "
        >
          <img
            style="width: 50px; height: 50px; border-radius: 9999px"
            src="https://via.placeholder.com/50x50"
          />
          <div
            style="
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 1px;
              display: inline-flex;
            "
          >
            <div
              style="
                color: #2b2b2b;
                font-size: 18px;
                font-family: Source Sans Pro;
                font-weight: 700;
                word-wrap: break-word;
              "
            >
              John Doe
            </div>
            <div
              style="
                color: rgba(0, 0, 0, 0.6);
                font-size: 16px;
                font-family: Source Sans Pro;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              @realjohndoe
            </div>
          </div>
        </div>
        <div style="width: 30px; height: 30px; position: relative">
          <div
            style="
              width: 27.5px;
              height: 22.43px;
              left: 1.25px;
              top: 3.74px;
              position: absolute;
              background: #1da1f2;
            "
          ></div>
        </div>
      </div>
      <div style="align-self: stretch">
        <span
          style="
            color: #2b2b2b;
            font-size: 16px;
            font-family: Source Sans Pro;
            font-weight: 400;
            line-height: 26px;
            word-wrap: break-word;
          "
          >Sample tweet. Latest Happening in this area </span
        ><span
          style="
            color: #1da1f2;
            font-size: 16px;
            font-family: Source Sans Pro;
            font-weight: 400;
            line-height: 26px;
            word-wrap: break-word;
          "
          >#rally</span
        >
      </div>
      <div
        style="
          justify-content: flex-start;
          align-items: flex-start;
          gap: 20px;
          display: inline-flex;
        "
      >
        <div
          style="
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            display: flex;
          "
        >
          <div style="width: 24px; height: 24px; position: relative">
            <div
              style="
                width: 20.9px;
                height: 18.23px;
                left: 1.55px;
                top: 3px;
                position: absolute;
                border: 2px rgba(0, 0, 0, 0.6) solid;
              "
            ></div>
          </div>
          <div
            style="
              color: rgba(0, 0, 0, 0.6);
              font-size: 16px;
              font-family: Source Sans Pro;
              font-weight: 600;
              line-height: 26px;
              word-wrap: break-word;
            "
          >
            650
          </div>
        </div>
        <div
          style="
            color: rgba(0, 0, 0, 0.6);
            font-size: 16px;
            font-family: Source Sans Pro;
            font-weight: 600;
            line-height: 26px;
            word-wrap: break-word;
          "
        >
          3:40 PM – Feb 24, 2022
        </div>
      </div>
    </div>
    <div
      style="
        height: 202px;
        padding-left: 31px;
        padding-right: 31px;
        padding-top: 35px;
        padding-bottom: 35px;
        left: 20px;
        top: 564px;
        position: absolute;
        background: white;
        box-shadow: 0px 15px 60px rgba(29, 161, 242, 0.15);
        border-radius: 10px;
        border: 1px rgba(29, 161, 242, 0.2) solid;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        display: inline-flex;
      "
    >
      <div
        style="
          align-self: stretch;
          justify-content: space-between;
          align-items: center;
          display: inline-flex;
        "
      >
        <div
          style="
            justify-content: flex-start;
            align-items: center;
            gap: 22px;
            display: flex;
          "
        >
          <img
            style="width: 50px; height: 50px; border-radius: 9999px"
            src="https://via.placeholder.com/50x50"
          />
          <div
            style="
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 1px;
              display: inline-flex;
            "
          >
            <div
              style="
                color: #2b2b2b;
                font-size: 18px;
                font-family: Source Sans Pro;
                font-weight: 700;
                word-wrap: break-word;
              "
            >
              John Doe
            </div>
            <div
              style="
                color: rgba(0, 0, 0, 0.6);
                font-size: 16px;
                font-family: Source Sans Pro;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              @realjohndoe
            </div>
          </div>
        </div>
        <div style="width: 30px; height: 30px; position: relative">
          <div
            style="
              width: 27.5px;
              height: 22.43px;
              left: 1.25px;
              top: 3.74px;
              position: absolute;
              background: #1da1f2;
            "
          ></div>
        </div>
      </div>
      <div style="align-self: stretch">
        <span
          style="
            color: #2b2b2b;
            font-size: 16px;
            font-family: Source Sans Pro;
            font-weight: 400;
            line-height: 26px;
            word-wrap: break-word;
          "
          >Sample tweet. Latest Happening in this area </span
        ><span
          style="
            color: #1da1f2;
            font-size: 16px;
            font-family: Source Sans Pro;
            font-weight: 400;
            line-height: 26px;
            word-wrap: break-word;
          "
          >#rally</span
        >
      </div>
      <div
        style="
          justify-content: flex-start;
          align-items: flex-start;
          gap: 20px;
          display: inline-flex;
        "
      >
        <div
          style="
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            display: flex;
          "
        >
          <div style="width: 24px; height: 24px; position: relative">
            <div
              style="
                width: 20.9px;
                height: 18.23px;
                left: 1.55px;
                top: 3px;
                position: absolute;
                border: 2px rgba(0, 0, 0, 0.6) solid;
              "
            ></div>
          </div>
          <div
            style="
              color: rgba(0, 0, 0, 0.6);
              font-size: 16px;
              font-family: Source Sans Pro;
              font-weight: 600;
              line-height: 26px;
              word-wrap: break-word;
            "
          >
            650
          </div>
        </div>
        <div
          style="
            color: rgba(0, 0, 0, 0.6);
            font-size: 16px;
            font-family: Source Sans Pro;
            font-weight: 600;
            line-height: 26px;
            word-wrap: break-word;
          "
        >
          3:40 PM – Feb 24, 2022
        </div>
      </div>
    </div>
  </div>
  <div
    style="
      width: 987px;
      height: 361px;
      left: 711px;
      top: 180px;
      position: absolute;
      background: white;
      border-radius: 20px;
      overflow: hidden;
    "
  >
    <div
      style="
        left: 37px;
        top: 23px;
        position: absolute;
        color: #2b2b2b;
        font-size: 24px;
        font-family: DM Sans;
        font-weight: 500;
        word-wrap: break-word;
      "
    >
      Top Accounts violent/criminal intent posts
    </div>
    <div
      style="
        width: 389px;
        height: 248px;
        left: 37px;
        top: 77px;
        position: absolute;
        background: white;
        box-shadow: 0px 7px 19.200000762939453px 1px rgba(29, 161, 242, 0.48);
        border-radius: 15px;
        overflow: hidden;
        border: 1px rgba(29, 161, 242, 0.2) solid;
      "
    >
      <div
        style="
          left: 37px;
          top: 103px;
          position: absolute;
          color: #6c6c6c;
          font-size: 20px;
          font-family: DM Sans;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Location
      </div>
      <div
        style="
          left: 37px;
          top: 144px;
          position: absolute;
          color: #6c6c6c;
          font-size: 20px;
          font-family: DM Sans;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Total Posts
      </div>
      <div
        style="
          left: 37px;
          top: 185px;
          position: absolute;
          color: #6c6c6c;
          font-size: 20px;
          font-family: DM Sans;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Problematic Posts
      </div>
      <div
        style="
          left: 228px;
          top: 103px;
          position: absolute;
          color: black;
          font-size: 20px;
          font-family: DM Sans;
          font-weight: 500;
          word-wrap: break-word;
        "
      >
        Bengaluru, KA
      </div>
      <div
        style="
          left: 309px;
          top: 144px;
          position: absolute;
          color: black;
          font-size: 20px;
          font-family: DM Sans;
          font-weight: 500;
          word-wrap: break-word;
        "
      >
        3426
      </div>
      <div
        style="
          left: 322px;
          top: 185px;
          position: absolute;
          color: black;
          font-size: 20px;
          font-family: DM Sans;
          font-weight: 500;
          word-wrap: break-word;
        "
      >
        432
      </div>
      <div
        style="
          width: 322px;
          left: 33px;
          top: 27px;
          position: absolute;
          justify-content: space-between;
          align-items: center;
          display: inline-flex;
        "
      >
        <div
          style="
            justify-content: flex-start;
            align-items: center;
            gap: 22px;
            display: flex;
          "
        >
          <img
            style="width: 50px; height: 50px; border-radius: 9999px"
            src="https://via.placeholder.com/50x50"
          />
          <div
            style="
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 1px;
              display: inline-flex;
            "
          >
            <div
              style="
                color: black;
                font-size: 18px;
                font-family: Source Sans Pro;
                font-weight: 700;
                word-wrap: break-word;
              "
            >
              John Doe
            </div>
            <div
              style="
                color: rgba(0, 0, 0, 0.6);
                font-size: 16px;
                font-family: Source Sans Pro;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              @realjohndoe
            </div>
          </div>
        </div>
        <div style="width: 30px; height: 30px; position: relative">
          <div
            style="
              width: 27.5px;
              height: 22.43px;
              left: 1.25px;
              top: 3.74px;
              position: absolute;
              background: #1da1f2;
            "
          ></div>
        </div>
      </div>
    </div>
    <div
      style="
        width: 389px;
        height: 248px;
        left: 536px;
        top: 77px;
        position: absolute;
        background: white;
        box-shadow: 0px 7px 19.200000762939453px 1px rgba(29, 161, 242, 0.48);
        border-radius: 15px;
        overflow: hidden;
        border: 1px rgba(29, 161, 242, 0.2) solid;
      "
    >
      <div
        style="
          left: 37px;
          top: 103px;
          position: absolute;
          color: #6c6c6c;
          font-size: 20px;
          font-family: DM Sans;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Location
      </div>
      <div
        style="
          left: 37px;
          top: 144px;
          position: absolute;
          color: #6c6c6c;
          font-size: 20px;
          font-family: DM Sans;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Total Posts
      </div>
      <div
        style="
          left: 37px;
          top: 185px;
          position: absolute;
          color: #6c6c6c;
          font-size: 20px;
          font-family: DM Sans;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Problematic Posts
      </div>
      <div
        style="
          left: 228px;
          top: 103px;
          position: absolute;
          color: black;
          font-size: 20px;
          font-family: DM Sans;
          font-weight: 500;
          word-wrap: break-word;
        "
      >
        Bengaluru, KA
      </div>
      <div
        style="
          left: 309px;
          top: 144px;
          position: absolute;
          color: black;
          font-size: 20px;
          font-family: DM Sans;
          font-weight: 500;
          word-wrap: break-word;
        "
      >
        3426
      </div>
      <div
        style="
          left: 322px;
          top: 185px;
          position: absolute;
          color: black;
          font-size: 20px;
          font-family: DM Sans;
          font-weight: 500;
          word-wrap: break-word;
        "
      >
        432
      </div>
      <div
        style="
          width: 322px;
          left: 33px;
          top: 27px;
          position: absolute;
          justify-content: space-between;
          align-items: center;
          display: inline-flex;
        "
      >
        <div
          style="
            justify-content: flex-start;
            align-items: center;
            gap: 22px;
            display: flex;
          "
        >
          <img
            style="width: 50px; height: 50px; border-radius: 9999px"
            src="https://via.placeholder.com/50x50"
          />
          <div
            style="
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 1px;
              display: inline-flex;
            "
          >
            <div
              style="
                color: black;
                font-size: 18px;
                font-family: Source Sans Pro;
                font-weight: 700;
                word-wrap: break-word;
              "
            >
              John Doe
            </div>
            <div
              style="
                color: rgba(0, 0, 0, 0.6);
                font-size: 16px;
                font-family: Source Sans Pro;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              @realjohndoe
            </div>
          </div>
        </div>
        <div style="width: 30px; height: 30px; position: relative">
          <div
            style="
              width: 27.5px;
              height: 22.43px;
              left: 1.25px;
              top: 3.74px;
              position: absolute;
              background: #1da1f2;
            "
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div
    style="
      width: 987px;
      height: 392px;
      left: 711px;
      top: 568px;
      position: absolute;
      background: white;
      border-radius: 21px;
      overflow: hidden;
    "
  >
    <div
      style="
        left: 37px;
        top: 23px;
        position: absolute;
        color: #2b2b2b;
        font-size: 24px;
        font-family: DM Sans;
        font-weight: 500;
        word-wrap: break-word;
      "
    >
      Top crowded areas
    </div>
    <div
      style="
        width: 428px;
        height: 266px;
        left: 37px;
        top: 86px;
        position: absolute;
      "
    ></div>
    <div
      style="
        width: 415px;
        height: 250px;
        left: 535px;
        top: 79px;
        position: absolute;
        background: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      "
    >
      <img
        style="
          width: 187px;
          height: 247px;
          left: 0px;
          top: 3px;
          position: absolute;
        "
        src="https://via.placeholder.com/187x247"
      />
      <div
        style="
          width: 27px;
          height: 41px;
          left: 94px;
          top: 70px;
          position: absolute;
        "
      >
        <div
          style="
            width: 21px;
            height: 10.5px;
            left: 3px;
            top: 29.55px;
            position: absolute;
            background: radial-gradient(
              100% 100% at NaN% Infinity%,
              rgba(0, 0, 0, 0.4) 10%,
              rgba(0, 0, 0, 0.05) 100%
            );
          "
        ></div>
        <div
          style="
            width: 27px;
            height: 35.25px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #3fb1ce;
          "
        ></div>
        <div
          style="
            width: 27px;
            height: 35.26px;
            left: 0px;
            top: 0px;
            position: absolute;
            opacity: 0.25;
            background: black;
          "
        ></div>
        <div
          style="
            width: 11px;
            height: 11px;
            left: 8px;
            top: 8px;
            position: absolute;
            background: white;
          "
        ></div>
      </div>
      <div
        style="
          width: 202px;
          left: 195px;
          top: 60px;
          position: absolute;
          color: #2b2b2b;
          font-size: 24px;
          font-family: DM Sans;
          font-weight: 500;
          word-wrap: break-word;
        "
      >
        M. Chinnaswamy Stadium
      </div>
      <div
        style="
          left: 195px;
          top: 28px;
          position: absolute;
          color: #4f4f4f;
          font-size: 16px;
          font-family: DM Sans;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Chances: 53%
      </div>
      <div
        style="
          left: 230px;
          top: 140px;
          position: absolute;
          color: #2b2b2b;
          font-size: 16px;
          font-family: DM Sans;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        4PM Approximately
      </div>
      <div
        style="
          width: 24px;
          height: 24px;
          left: 195px;
          top: 138px;
          position: absolute;
        "
      >
        <div
          style="
            width: 24px;
            height: 24px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #d9d9d9;
          "
        ></div>
        <div
          style="
            width: 18.75px;
            height: 17.38px;
            left: 2.62px;
            top: 3.62px;
            position: absolute;
            background: #2b2b2b;
          "
        ></div>
      </div>
      <div style="left: 195px; top: 179px; position: absolute">
        <span
          style="
            color: #6c6c6c;
            font-size: 16px;
            font-family: DM Sans;
            font-weight: 400;
            word-wrap: break-word;
          "
          >Patrolling requirement: <br /></span
        ><span
          style="
            color: #ff0d0d;
            font-size: 16px;
            font-family: DM Sans;
            font-weight: 700;
            word-wrap: break-word;
          "
          >High</span
        >
      </div>
    </div>
  </div>
  <div
    style="
      width: 415px;
      height: 250px;
      left: 755px;
      top: 647px;
      position: absolute;
      background: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    "
  >
    <img
      style="
        width: 179px;
        height: 250px;
        left: 0px;
        top: 0px;
        position: absolute;
      "
      src="https://via.placeholder.com/179x250"
    />
    <div
      style="
        width: 27px;
        height: 41px;
        left: 69px;
        top: 70px;
        position: absolute;
      "
    >
      <div
        style="
          width: 21px;
          height: 10.5px;
          left: 3px;
          top: 29.55px;
          position: absolute;
          background: radial-gradient(
            100% 100% at NaN% Infinity%,
            rgba(0, 0, 0, 0.4) 10%,
            rgba(0, 0, 0, 0.05) 100%
          );
        "
      ></div>
      <div
        style="
          width: 27px;
          height: 35.25px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #3fb1ce;
        "
      ></div>
      <div
        style="
          width: 27px;
          height: 35.26px;
          left: 0px;
          top: 0px;
          position: absolute;
          opacity: 0.25;
          background: black;
        "
      ></div>
      <div
        style="
          width: 11px;
          height: 11px;
          left: 8px;
          top: 8px;
          position: absolute;
          background: white;
        "
      ></div>
    </div>
    <div
      style="
        width: 186px;
        left: 195px;
        top: 60px;
        position: absolute;
        color: #2b2b2b;
        font-size: 24px;
        font-family: DM Sans;
        font-weight: 500;
        word-wrap: break-word;
      "
    >
      Kormangla Indoor stadium
    </div>
    <div
      style="
        left: 195px;
        top: 28px;
        position: absolute;
        color: #4f4f4f;
        font-size: 16px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Chances: 68%
    </div>
    <div
      style="
        left: 230px;
        top: 140px;
        position: absolute;
        color: #2b2b2b;
        font-size: 16px;
        font-family: DM Sans;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      4PM Approximately
    </div>
    <div
      style="
        width: 24px;
        height: 24px;
        left: 195px;
        top: 138px;
        position: absolute;
      "
    >
      <div
        style="
          width: 24px;
          height: 24px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #d9d9d9;
        "
      ></div>
      <div
        style="
          width: 18.75px;
          height: 17.38px;
          left: 2.62px;
          top: 3.62px;
          position: absolute;
          background: #2b2b2b;
        "
      ></div>
    </div>
    <div style="left: 195px; top: 179px; position: absolute">
      <span
        style="
          color: #6c6c6c;
          font-size: 16px;
          font-family: DM Sans;
          font-weight: 400;
          word-wrap: break-word;
        "
        >Patrolling requirement: <br /></span
      ><span
        style="
          color: #ff0d0d;
          font-size: 16px;
          font-family: DM Sans;
          font-weight: 700;
          word-wrap: break-word;
        "
        >High</span
      >
    </div>
  </div>
</div>
