<body>
  {% extends "nav.html" %} {% block content %}
  <div class="mx-8 my-5 flex justify-between">
    <h2 class="text-4xl font-light text-black/50">
      Victim Prediction
    </h2>
  </div>
  <div class="flex items-center gap-6 mx-8 my-5 ">
    <div>
      <h3 class="font-bold text-[#5C8DD6]">District</h3>
      <select id="district" class="py-3 px-3 bg-white border w-full border-black">
        <option value='Bagalkot'>Bagalkot</option>
        <option value='Ballari'>Ballari</option>
        <option value='Belagavi City'>Belagavi City</option>
        <option value='Belagavi Dist'>Belagavi Dist</option>
        <option value='Bengaluru City'>Bengaluru City</option>
        <option value='Bengaluru Dist'>Bengaluru Dist</option>
        <option value='Bidar'>Bidar</option>
        <option value='Chamarajanagar'>Chamarajanagar</option>
        <option value='Chickballapura'>Chickballapura</option>
        <option value='Chikkamagaluru'>Chikkamagaluru</option>
        <option value='Chitradurga'>Chitradurga</option>
        <option value='CID'>CID</option>
        <option value='Coastal Security Police'>Coastal Security Police</option>
        <option value='Dakshina Kannada'>Dakshina Kannada</option>
        <option value='Davanagere'>Davanagere</option>
        <option value='Dharwad'>Dharwad</option>
        <option value='Gadag'>Gadag</option>
        <option value='Hassan'>Hassan</option>
        <option value='Haveri'>Haveri</option>
        <option value='Hubballi Dharwad City'>Hubballi Dharwad City</option>
        <option value='ISD Bengaluru'>ISD Bengaluru</option>
        <option value='K.G.F'>K.G.F</option>
        <option value='Kalaburagi'>Kalaburagi</option>
        <option value='Kalaburagi City'>Kalaburagi City</option>
        <option value='Karnataka Railways'>Karnataka Railways</option>
        <option value='Kodagu'>Kodagu</option>
        <option value='Kolar'>Kolar</option>
        <option value='Koppal'>Koppal</option>
        <option value='Mandya'>Mandya</option>
        <option value='Mangaluru City'>Mangaluru City</option>
        <option value='Mysuru City'>Mysuru City</option>
        <option value='Mysuru Dist'>Mysuru Dist</option>
        <option value='Raichur'>Raichur</option>
        <option value='Ramanagara'>Ramanagara</option>
        <option value='Shivamogga'>Shivamogga</option>
        <option value='Tumakuru'>Tumakuru</option>
        <option value='Udupi'>Udupi</option>
        <option value='Uttara Kannada'>Uttara Kannada</option>
        <option value='Vijayanagara'>Vijayanagara</option>
        <option value='Vijayapur'>Vijayapur</option>
        <option value='Yadgir'>Yadgir</option>
      </select>
    </div>
    <div>
      <h3 class="font-bold text-[#5C8DD6]">Age</h3>
      <input type="number" name="age" id="age" class="py-2 px-4 border border-black">
    </div>
    <div>
      <h3 class="font-bold text-[#5C8DD6]">Caste</h3>
     <input type="text" name="caste" id="caste" class="py-2 px-4 border border-black">
    </div>
    <div>
      <h3 class="font-bold text-[#5C8DD6]">Profession</h3>
      <select id="profession" class="py-3 px-3 bg-white border w-full border-black">
        <option value="profession1">Profession 1</option>
        <option value="profession2">Profession 2</option>
        <option value="profession3">Profession 3</option>
        <!-- Add more options for professions -->
      </select>
    </div>
    <div>
      <h3 class="font-bold text-[#5C8DD6]">Gender</h3>
      <select id="gender" class="py-3 px-3 bg-white border w-full border-black">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <button id="gobutton"
      class="flex h-12 self-end px-8 rounded-md font-bold text-white items-center bg-[#5C8DD6] hover:bg-[#619BF3]">
      <h3>GO</h3>
    </button>
  </div>

  <div>
    <!-- put the output in this div -->
  </div>
</body>

{% endblock %}